<template>
    <d-list-group v-if="user">
        <h4>{{$t('employees_competencies')}}</h4>
        <router-link :to="'/employee/'+user._id+'/marking'">
        <d-list-group-item>
            <img :src="$imageurl+user.img" style="height:25px;float:left;">
            {{$t('own_profile')}}
        </d-list-group-item>
        </router-link>
        <router-link v-if="user.manager && user.manager.id" :to="'/employee/'+user.manager.id+'/marking'">
        <d-list-group-item>
            <img :src="$imageurl+manager_img" style="height:25px;float:left;">
            <b><div class="truncate">{{user.manager.name}} {{user.manager.surname}}</div></b>
        </d-list-group-item>
        </router-link>
        <span v-for="(item, index) in employees" :key="index">
        <router-link v-if="item.hr" :to="'/employee/'+item._id+'/marking'">
            <d-list-group-item >
            <img :src="$imageurl+item.img" style="height:25px;float:left;">
             <b>{{item.name}} {{item.surname}}</b> HR
            </d-list-group-item>
        </router-link>
        <router-link :to="'/employee/'+item._id+'/marking'" v-if="item.manager && (user._id == item.manager.id)">
            <d-list-group-item >
                <img :src="$imageurl+item.img" style="height:25px;float:left;">
                <div class="truncate"><b>{{item.name}} {{item.surname}}</b> {{item.role}}</div>
                <d-badge style="position:absolute;right:15px;" theme="danger" v-if="item.cnotify == 1">
                    {{$t('totals_time')}}
                </d-badge>
            </d-list-group-item>
        </router-link> 
        </span>
        <br><br>
    </d-list-group>
</template>

<script>
export default {
    props: {
        employees: Array,
    },
    data(){
        return {
            user: {},
            manager_img: {},
            token: {
                headers: {}
            }
        }
    },
    mounted(){
    this.token.headers['Authorization']  = localStorage.getItem('kpi-jwt-auth');
    this.manager_img = localStorage.getItem('manager_img');
    this.user = JSON.parse(localStorage.getItem('kpi-jwt-user'));
    }
}
</script>

<style scoped>
.truncate{
    width: 90%;
}
@media(max-width: 450px){
    .truncate{
        width: 70%;
    }   
}
</style>
