<template>
    <center class="wrapper" >
    <d-btn v-d-toggle.my-collapse variant="primary" pill outline>Добавить подразделение</d-btn>
    <d-collapse id="my-collapse">
            <d-input placeholder="Название" v-model="formData.name" />
            <span v-d-toggle.my-collapse2 style="color:green;cursor: pointer">Добавить отдел или филиал</span><br>
            <d-collapse id="my-collapse2">
                <d-card >
                    <center>
                        <d-form-radio inline  v-model="formData.is_branch" :value="true">Филиал</d-form-radio>
                        <d-form-radio inline v-model="formData.is_branch" :value="false">Отдел</d-form-radio>
                    </center>
                    <br>
                    <d-input placeholder="Название" v-model="branch.name" v-for="(branch, ind) in formData.branches" :key="ind" />
                    <d-btn class="add-btn" v-if="formData.is_branch" outline size='sm' @click="addBranch()">Добавить филиал</d-btn>
                    <d-btn class="add-btn" v-else size='sm' outline @click="addBranch()">Добавить отдел</d-btn>
                </d-card>
                <br>
                <br>
                <br>
            </d-collapse>
        <d-btn @click="postCompany()" v-d-toggle.my-collapse >Создать</d-btn>
    </d-collapse>
    <br>
    <br>
        <div style="max-width: 700px;">
            <d-card class="mb-1" v-for="company in companies" :key="company.id">
                <d-card-body class="px-3 py-2" role="tab" >
                    <div v-d-toggle="company._id" @click="getDelCompany(company._id)">{{company.name}}</div> 
                    <span @click="changeModalOpen(company)" v-if="delCompany == company._id" style="cursor:pointer;position: absolute; left:10px; top:10px;">Изменить</span>
                    <span @click="deleteCompany(company._id)" v-if="delCompany == company._id" style="color:red;cursor:pointer;position: absolute; right:10px; top:10px;">Удалить</span>
                </d-card-body>
                <d-collapse :id="company._id" accordion="my-accordion" role="tabpanel">
                    <center v-for="(branch, index) in company.branches" :key="index"> - {{branch.name}}</center>
                </d-collapse>
            </d-card>
        </div>
        <d-modal v-if="showModal" size="sm" @close="showModal = false">
            <d-modal-header>
                <d-modal-title>Изменить {{changeForm.name}}</d-modal-title>
            </d-modal-header>
            <d-modal-body>
                <d-input placeholder="Название" v-model="changeForm.name" />
                <span v-d-toggle.my-collapse3 style="color:green;cursor: pointer">Изменить отдел или филиал</span><br>
                <d-collapse id="my-collapse3">
                    <d-card>
                        <center>
                            <d-form-radio inline  v-model="formData.is_branch" :value="true">Филиал</d-form-radio>
                            <d-form-radio inline v-model="formData.is_branch" :value="false">Отдел</d-form-radio>
                        </center>
                        <br>
                        <div v-for="(branch, ind) in changeForm.branches" :key="ind">
                            <d-input placeholder="Название" inline v-model="branch.name" style="width:200px"/>
                            <d-btn class="add-btn" theme="danger" inline size='sm' outline @click="changeForm.branches.splice(ind, 1)">Удалить</d-btn>
                        </div>
                        <d-btn class="add-btn" v-if="changeForm.is_branch" outline size='sm' @click="addBranch()">Добавить филиал</d-btn>
                        <d-btn class="add-btn" v-else size='sm' outline @click="addBranchChange()">Добавить отдел</d-btn>
                    </d-card>
                    <br>
                    <br>
                    <br>
                </d-collapse>
            <d-btn @click="editCompany()" v-d-toggle.my-collapse3>Изменить</d-btn>
            </d-modal-body>
        </d-modal>
    </center>
</template>
<script>
export default {
    name:'Companies',
    data() {
        return {
            formData: {
                name: '',
                id: '',
                branches: [],
                is_branch: true,
            },
            changeForm: {
                name: '',
                id: '',
                branches: [],
                is_branch: true,
            },
            token: {headers : {
                'Authorization': ''
            }},
            companies: [],
            delCompany: '',
            showModal: false
        }
    },
    methods: {
        getDelCompany(id){
            this.delCompany = id;
        },
        async getCompanies(){
            let res = await this.axios.get(this.$url+'/get/companies',this.token);
            console.log(res.data)
            this.companies = res.data
        },
        async postCompany () {
            try{
                this.formData.id = Math.random().toString(36).slice(-10)+(new Date().getTime());
                let res = await this.axios.post(this.$url+'/post/company',this.formData,this.token);
                this.getCompanies()
            } catch(err){
                alert(err);
                throw err;
            }
        },
        async editCompany () {
            try{
                let id = this.changeForm._id;
                let res = await this.axios.post(this.$url+'/edit/company/'+id,{
                    ...this.changeForm
                },this.token);
                console.log(res)
                this.getCompanies();
                this.showModal = false;
            } catch(err){
                alert(err);
                throw err;
            }
        },
        async deleteCompany(id){
            try {
                await this.axios.post(this.$url+'/delete/company/'+id,{},this.token);
                this.getCompanies();
                alert('Удалено')
            } catch(err){
                throw err;
            }
        },
        addBranch(){
            let name= "Новый филиал";
            if(!this.formData.is_branch) name = "Новый отдел"
            this.formData.branches.push({
                name: name+' '+(this.formData.branches.length+1)
            })
        },
        addBranchChange(){
            let name= "Новый филиал";
            if(!this.formData.is_branch) name = "Новый отдел"
            this.changeForm.branches.push({
                name: name+' '+(this.changeForm.branches.length+1)
            })
        },
        changeModalOpen(company){
            this.changeForm = company;
            this.showModal  = true;
        }
    },
    mounted(){
        this.getCompanies();
        this.token.headers['Authorization']  = localStorage.getItem('kpi-jwt-auth');
    }
}
</script>
<style scoped>
.show{
    max-width: 700px;
}
.wrapper{ 
    width: 100%;
    padding: 10px;
    /* margin:0 auto!important */
}
input{
    max-width: 500px;
    margin:10px auto;

}
.add-btn{
    max-width: 500px;
    margin:10px auto
}
</style>