<template>
  <div class="hello">
    <d-list-group>
      <h4>{{ $t('employees_kpi') }}</h4>
      <span v-for="(item, index) in employees" :key="index">
        <router-link :to="'/employee/'+item._id+'/kpi'" v-if="item.manager && (user_id == item.manager.id)">
          <d-list-group-item>
           <img :src="$imageurl+item.img" style="height:25px;float:left;">
            <div class="truncate">{{item.name}} {{item.surname}} {{item.role}} </div>
          <d-badge style="position:absolute;right:15px;" theme="danger" v-if="item.kpi_notify == 1">Запрос на рассмотрение</d-badge>
          </d-list-group-item>
        </router-link> 
      </span>
    </d-list-group>
  </div>
</template>
<script>
export default {
  props: {
    employees: Array,
    user_id: String
  },
  computed: {
  },
  data() {
    return {
    }
  },
  methods: {
  },
  mounted(){
    
   },
}
</script>
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.truncate{
    width: 90%;
}
@media(max-width: 450px){
    .truncate{
        width: 70%;
    }   
}
</style>