<template>
<div>
  <EmployeeCard :employee="employee" :user="user" @open="showModal = true"/><br>
  <d-modal v-if="showModal && user.is_admin" @close="handleClose" >
    <div class="form-group" style="padding:30px;">
      <h3>Изменить профиль</h3>
       <d-input-group prepend="Имя" class="mb-2">
        <d-input id="f2_Email"  v-model="employee.name" /><br>
      </d-input-group>
      <d-input-group prepend="Фамилия" class="mb-2">
        <d-input  class="mb-2 mr-sm-2 mb-sm-0" v-model="employee.surname"/><br>
      </d-input-group>
      <d-input-group  prepend="Права доступа" v-if="user.is_admin === 1">
        <d-form-select v-model="employee.is_admin" style="height: 48px;" :options="account_options"/><br><br>
      </d-input-group><br>
      <d-input-group prepend="Должность" class="mb-2">
      <d-input   v-model="employee.role"   placeholder="" /><br>
      </d-input-group>
      <d-input-group  prepend="Подразделение" v-if="user.is_admin === 1">
        <d-form-select v-model="employee.department" style="height: 48px;" :options="options"/><br><br>
      </d-input-group><br>
      <d-input-group  prepend="Филиал или отдел" v-if="employee.department.branches && user.is_admin === 1">
        <d-form-select v-model="employee.department.branch" style="height: 48px;" :options="d_branches"/><br><br>
      </d-input-group><br>
      <d-input-group prepend="Позиционный уровень сотрудника" class="mb-2">
      <d-input  class="mb-2 mr-sm-2 mb-sm-0" v-model="employee.grade" /><br>
      </d-input-group>
        <d-input-group  prepend="Макс. за ключевые компетенции">
          <d-form-select v-model="employee.max_key" style="height: 48px;" :options="max_options_key" /><br><br>
        </d-input-group><br>
        <d-input-group  prepend="Макс. за поддерживающие компетенции">
          <d-form-select v-model="employee.max_support" style="height: 48px;" :options="max_options_support"/><br><br>
        </d-input-group><br>
        <d-input-group prepend="Логин" class="mb-2">
          <d-input  class="mb-2 mr-sm-2 mb-sm-0" v-model="employee.login" /><br>
        </d-input-group><br>
        <d-input-group prepend="Пароль" class="mb-2">
          <d-input  class="mb-2 mr-sm-2 mb-sm-0" v-model="employee.password" /><br>
        </d-input-group><br>
      <div style="text-align:left"><b>Руководитель:</b></div>
      <span v-if="employee.manager">{{employee.manager.name}} {{employee.manager.surname}}</span>
      <d-input-group v-if="user.is_admin === 1"  prepend="Выбор подразделения руководителя">
        <d-form-select v-model="employee.manager_company" style="height: 48px;"
        :options="options"/><br><br>
      </d-input-group><br>
      <multiselect v-model="managerValue" v-if="user.is_admin === 1"
        :options="managerOptions" :custom-label="managerLabel"
        placeholder="Выбор руководителя" label="name" track-by="_id" 
      ></multiselect><br>
            <!-- <multiselect v-model="managerValue" :options="employees" :custom-label="managerLabel"
      placeholder="Выбор руководителя" label="name" track-by="_id" 
      @select="onSelect(managerValue)"></multiselect> -->
      <div style="text-align:left"><b>{{$t("employee_competencies")}}:</b></div>
      <vue-multi-select
        placeholder = "Ключевые компетенции"
        v-model="form_surveys_k"
        :options="survey_options_k"
        option-label='name'
      ></vue-multi-select><br>
      <d-list-group v-for="(item, index2) in employee.surveys" style="text-align:left"  :key="index2+20">
            <span v-if="item.type == 'Ключевые'">{{item.name}}</span>
          </d-list-group>
      <vue-multi-select
        placeholder = "Поддерживающие компетенции"
        v-model="form_surveys_s"
        option-label='name'
        :options="survey_options_s"
      ></vue-multi-select><br>
      <d-list-group v-for="(item, index) in employee.surveys" style="text-align:left"  :key="index">
        <span v-if="item.type == 'Поддерживающие'">{{item.name}}</span>
      </d-list-group>
      <div v-if="!image">
          <center>Загрузить фото</center>
          <label for="file-input">
              <img style="width: 80px;cursor:pointer" src="https://goo.gl/pB9rpQ"/>
          </label>
          <input id="file-input" type="file" ref="file" @change="onFileChange">
      </div>
      <div v-else>
          <d-btn size="sm" theme="danger" @click="removeImage" style="color:white">Убрать фото</d-btn>
          <img :src="image" style="max-width:50%;"/><br><br>
      <!-- <d-btn  pill theme="success" @click="changeAva()">Сохранить </d-btn> -->
      </div>
      <br>
     <d-button  theme="primary" style="float: left;margin:0" @click="editEmployee()">Изменить</d-button>
      <br><br>
    </div>
  </d-modal>
  <router-view  @getKpi='getEmployeeClick()' 
  :period="permissions.period" 
  :open="open" 
  :openKpi="openKpi"
  :fact_period="fact_period"
  :fact_period_manager="fact_period_manager"
  :kpi="kpi" :marks="marks" :kmark="kmark"
  :smark="smark" :surveys="surveys"
  :manager_smark="manager_smark"
  :exists_already="exists_already"
  :manager_kmark="manager_kmark"
  :emp_kmark="emp_kmark"
  @getkpiperiod="getperiodkpi" 
  :emp_length="emp_length"
  :fact_months="fact_months"
  :emp_smark="emp_smark"
  :kpi_inital="igoals"
  :user_id="user._id" :employee="employee"></router-view>
</div>    
</template>
<script>
import VueMultiSelect from "vue-simple-multi-select";
import Multiselect from 'vue-multiselect'
import EmployeeCard from '@/components/EmployeeCard.vue'
export default {
    components: {
        VueMultiSelect,
        Multiselect, EmployeeCard
    },
  data(){
      return {
        manager_kmark: [],        
        manager_smark: [],        
        manager_scomments: [],        
        managerValue: null,
        form_surveys_s: [],
        form_surveys_k: [],
        fact_months:[],
        fact_period: 6,
        fact_period_manager: 16,
        survey_types: [
          {value: 'Поддерживающяя', text:'Поддерживающие'},
          {value: 'Ключевые', text:'Ключевые'},
        ],
        account_options: [
          {value: 1, text: 'Администратор'},
          {value: 2, text: 'Руководитель'},
          {value: 0, text: 'Сотрудник'}
        ],
        openKpi: true,
        search: '',
        searchForm: false,
        employees:[],
        searchtype: '',
        searchoptions: [
          {value: 'ФИО', text: 'ФИО'},
        ],
        max_options_key: [
          {value: 0.33, text: '15'},
          {value: 0.44, text: '20'},
        ],
        max_options_support: [
          {value: 0.22, text: '10'},
          {value: 0.33, text: '15'},
        ],
        surveys:[],
        searchForm: false,
        companies: [],
        user: {},
        emp_kmark: [],
        emp_smark: [],
        igoals: [],
        permissions:{},
        exists_already: 0,
        current_year: new Date().getFullYear(),
        current_period:1,
        showModal: false,
        employee: {},
        kpi: {},
        image: '',
        len: 0,
        kmark: [],
        emp_length: 0,
        smark: [],
        open: true, 
        marks: [],
        token: {headers : {
          'Authorization': localStorage.getItem('kpi-jwt-auth')
        }},
      }
  },
  computed: {
    options(){
      let arr = [];
      this.companies.map(item => {
        arr.push({
          value: {id: item.id, name: item.name, branches: item.branches},
          text: item.name,
          branches: item.branches
        })
      })
      return arr;
    },
    d_branches(){
      let arr = []
      if(this.employee.department){
        this.employee.department.branches.map(item => {
          arr.push({
            value: item.name,
            text: item.name
          })
        })
      }
      return arr;
    },

    // managerOptions(){
    // let arr = [];
    // console.log(this.employees)
    // if(this.employees.length != 0){
    //     this.employees.map((item,index) => {
    //         if(item.department && this.employee.manager_company){
    //             if(item.department.id == this.employee.manager_company.id) arr.push(item)
    //         } 
    //     })
    // }
    //     return arr;
    // },
    managerOptions(){
    let arr = [];
    if(this.employees){
      this.employees.map((item,index) => {
        if(item.department && this.employee.manager_company){
            if(item.department.id == this.employee.manager_company.id) arr.push(item)
        }
      })
      if(this.user.is_admin === 2) {
        arr.push({
          _id: this.user._id,
          name: this.user.name,
          surname: this.user.surname,
          rank: this.user.rank
        })
      }
    }
      return arr;
    },
    survey_options_s(){
            let arr = [];
            if(this.surveys)
            {
                this.surveys.map((item) => {
                  item.type = this.survey_types[0].text
                  arr.push({type: this.survey_types[0].text, name: item.name}); 
                });
                console.log(arr);
            }
            return arr;
        },
    survey_options_k(){
          let arr = [];
          if(this.surveys)
          {
            this.surveys.map((item) => {
                item.type = this.survey_types[1].text
                arr.push({type: this.survey_types[1].text, name: item.name}); 
            });
          }
            console.log(arr);
          return arr;
      },
    survey_options(){
          let arr = [];
          if(this.surveys)
          {
            this.surveys.map((item) => {
                arr.push(item.name); 
            });
          }
            console.log(arr);
          return arr;
      },
     filteredList() {
        return this.employees.filter(post => {
          if(this.searchtype = 'ФИО'){
            if(post && post.name){
             let name = post['name'].toString();
             let surname = post['surname'].toString();
              if((post.department) && (post.department.name == this.employee.department.name)){
                return name.toLowerCase().includes(this.search.toLowerCase()) || surname.toLowerCase().includes(this.search.toLowerCase()) 
              }
            }
          } else {  
            let res = post[searchtype].toString();
              if(post.department == this.formData.department){
                return res.toLowerCase().includes(this.search.toLowerCase());  
              } 
          }
        })
    }
  },
  async created (){
    this.user = JSON.parse(localStorage.getItem('kpi-jwt-user'));
    let m = new Date().getMonth()
    if(m > 5) this.current_period = 2
    await this.getEmployee(this);
    await this.getCompanies();
    await this.getEmployees(this);
    await this.getSurveys(this);
    await this.getPermissions(this);
    await this.getMarks();
    this.marks.map(item=> {
      if(item.marking_person == this.user._id) this.exists_already = 1
      if(item.marking_person != this.employee.manager.id && item.marking_person != this.employee._id){
        this.emp_length = this.emp_length+1
        item.k_mark.map(t => {
        });
      } 
    })
    if(this.exists_already == 1) await this.getEmployeeSurveys(this);
    else this.mark_form()
 },
  methods: {
    onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      this.file = this.$refs.file.files[0];
      if (!files.length)
          return;
      this.createImage(files[0]);
      },
      createImage(file) {
      var image = new Image();
      var reader = new FileReader();
      var vm = this;
      reader.onload = (e) => {
          vm.image = e.target.result;
      };
      reader.readAsDataURL(file);
      },
      removeImage: function (e) {
      this.image = '';
    },
    kpi_inital(){
        this.igoals = []
      this.kpi.goals.map((item, index) => { 
        this.igoals.push({
          name: item.name,
          weight: item.weight,
          kpi: item.kpi,
          units: item.units,
          months: [],
          comment: this.kpi.comments[index]
        })
        item.months.map(m => this.igoals[index].months.push({
            plan: m.plan,
            fact: m.fact
        }))
      })
    },
    getperiodkpi(year, period){
      this.current_year = year
      this.current_period = period
      this.getEmployee(this);
    },
  managerLabel ({ name,surname}) {
      return `${name} ${surname}`
    },
    getEmployeeClick(){
      this.getEmployee(this)
    },
     async getSurveys(){
      try{
        this.surveys  = await this.axios.get(this.$url+'/get/surveys',{...this.token});
          this.surveys  = this.surveys.data.reverse();
      }catch (err){
          console.log(err);
      }
    },
    async getCompanies(){
      let res = await this.axios.get(this.$url+'/get/companies',this.token);
      (res.data)
      this.companies = res.data
    },
    async getMarks(){
      try {
        let res  = await this.axios.get(this.$url+'/get/marks/'+this.employee._id,
        {...this.token})
        this.marks = res.data;
        console.log(res)
      } catch (err){
        console.log(err);
      }
    },
    getEmployeeSurveys(){
      if(this.marks.length != 0){
        this.marks.map(item => {
          if(item.marking_person == this.employee._id){
            if(this.employee._id == this.user._id){
              this.smark =  item.s_mark;
              this.kmark =  item.k_mark;
            } else if(this.employee.manager.id == this.user._id){
              this.manager_smark = item.s_mark
              this.manager_kmark = item.k_mark
              this.manager_comments = item.comments
            }
          }
          if(this.employee.manager){
            if(item.marking_person == this.employee.manager.id){
                if(this.employee._id == this.user._id){
              this.manager_smark = item.s_mark
              this.manager_kmark = item.k_mark
              this.manager_comments = item.comments
            } else if(this.employee.manager.id == this.user._id){
              this.smark =  item.s_mark;
              this.kmark =  item.k_mark;
              } 
            }
          } 
          if(this.employee.eq != 0){
            if(item.marking_person != this.employee.manager.id && item.marking_person != this.employee._id){
              if(this.user.manager.id != this.employee._id){
                this.len = this.len+1
                if(this.emp_smark.length == 0 || this.emp_kmark.length == 0){
                  this.emp_smark = item.s_mark                  
                  this.emp_kmark = item.k_mark
                  this.emp_comments = item.comments
                  this.emp_kmark.map(s => {
                    for(let i=0;i<s.answers.length;i++){
                      s.answers[i] = s.answers[i]/this.emp_length 
                    }
                  })
                  this.emp_smark.map(s => {
                    for(let i=0;i<s.answers.length;i++){
                      s.answers[i] = s.answers[i]/this.emp_length 
                    }
                  })
                } else {
                  this.emp_smark.map((s, ind) => {
                    for(let i=0;i<s.answers.length;i++){
                      s.answers[i] = s.answers[i]+item.s_mark[ind].answers[i]/this.emp_length
                      if(this.len == this.emp_length) s.answers[i] = Math.round(s.answers[i]*100)/100
                    }
                  })
                  this.emp_kmark.map((s, ind) => {
                    for(let i=0;i<s.answers.length;i++){
                      s.answers[i] = s.answers[i]+item.k_mark[ind].answers[i]/this.emp_length
                      if(this.len == this.emp_length) s.answers[i] = Math.round(s.answers[i]*100)/100
                    }
                  })
              }                 
            }
            else if(item.marking_person == this.user._id){
              this.smark =  item.s_mark;
              this.kmark =  item.k_mark;
              }
            }
          }
        })
      } else {
        mark_form();  
      }  
    },
    mark_form(){
      this.employee.surveys.map(item => { 
        if(item.type == 'Поддерживающие'){
          for(var i=0;i<this.surveys.length;i++){
            if(this.surveys[i].name == item.name){
              this.smark.push({
                name: item.name,
                name2: item.name2,
                answers: [1,1,1,1,1],
                total: 0,
                questions: this.surveys[i].questions,
                questions2: this.surveys[i].questions2,
                _id: this.surveys[i]._id,
                type: 'Поддерживающие',
                desc: this.surveys[i].desc,
                desc2: this.surveys[i].desc2
              });
            }
          }
        } else {
          for(var i=0;i<this.surveys.length;i++){
            if(this.surveys[i].name == item.name){
              this.kmark.push({
                name: item.name,
                name2: item.name2,
                answers: [1,1,1,1,1],
                total: 0,
                questions: this.surveys[i].questions,
                questions2: this.surveys[i].questions2,
                _id: this.surveys[i]._id,
                type: 'Ключевые',
                desc: this.surveys[i].desc,
                desc2: this.surveys[i].desc2
              });
            }
          }
        }
      })
    },
    handleClose(){
    this.showModal = false;
  },
  getEmployeeId(user){
    this.employee.manager = {
      id: user._id,
      name: user.name,
      surname: user.surname,
      rank: user.rank
    };
    this.showModal = true;
    this.searchForm = false;
  },
  handleCloseSearch(){
      this.searchForm = false;
    },
   async getEmployees(){
      try{
        let dat = await this.axios.get(this.$url+'/get/employees',{...this.token});
        this.employees  = dat.data.reverse();
      } catch (err){
          console.log(err);
      }
    },
  async getPermissions(vm){
      try {
        let data = await vm.axios.get(this.$url+'/get/companies',{...vm.token});
        vm.permissions  = data.data;
          this.permissions.map((item) => {
          if(item.name == this.employee.department.name){ 
            this.open = item.marking
            this.openKpi = item.kpi
            if(!item.months) item.months = []
            this.fact_months = item.months
            if(item.fact_period){
              this.fact_period = parseInt(item.fact_period)
            }
            if(item.fact_period_manager){
              this.fact_period_manager = parseInt(item.fact_period_manager)
            }
          }
        })
      } catch (err){
        console.log(err);
      }
  },
      async editEmployee() {
      try{
        if(this.managerValue){
            this.employee.manager = {
                id: this.managerValue._id,
                name: this.managerValue.name,
                surname: this.managerValue.surname,
                rank: this.managerValue.rank
            }
            this.employee.rank = parseInt(this.managerValue.rank)-1;
        }
        if(this.form_surveys_k.length != 0 || this.form_surveys_s.length != 0){
          this.employee.surveys = [];
          await this.form_surveys_k.map(item =>{
              this.employee.surveys.push(item);
          })
          await this.form_surveys_s.map(item =>{
              this.employee.surveys.push(item);
          })
        }
        let formData = new FormData();
        formData.append('avatar', this.file);
        formData.append('employee', JSON.stringify(this.employee));
        let res = await this.axios.post(this.$url+'/edit/employee/'+this.employee._id,formData, {
          headers : {
            'Content-Type': 'multipart/form-data',
            'Authorization': localStorage.getItem('kpi-jwt-auth')
          }
        })
        this.getEmployee(this);
        this.showModal = false;
        alert('Профиль изменен');
      } catch(err) {
        console.log(err);
        alert('Произошла ошибка! Попробуйте заново')
      }},
async getEmployee(vm){
      try{
        let employee  = await vm.axios.get(this.$url+'/get/employee/'+vm.$route.params.id+'/'+vm.current_year
        +'/'+vm.current_period,{...vm.token})
        if(employee.data.kpi){
          vm.kpi        = employee.data.kpi;
          this.kpi_inital();
        }
        vm.employee  = employee.data.user;
        document.title = vm.employee.name + ' ' + vm.employee.surname
        if(vm.employee.department.name) document.title += ' '+vm.employee.department.name
      } catch (err) {
          console.log(err);
      }
    },
  }
}
</script>
<style scoped>

</style>
<style src="vue-multiselect/dist/vue-multiselect.min.css">
</style>
