<template>
    <div style="text-align: left;padding:10px 20px;">
         
    <h4>{{$t('if_you')}}</h4>
    <div>
    ⦁	{{ $t('problem_1') }},<br> 
    ⦁	 {{ $t('problem_2') }} <br>
    ⦁	{{ $t('problem_3') }} <br>
    ⦁	{{ $t('problem_4') }} <br>
    ⦁	{{ $t('problem_5') }}<br>
    ⦁	{{ $t('problem_6') }} <br>
    </div><br>
    {{$t('screenshot_guide')}}
    <a href="https://t.me/joinchat/ABdsfRaWdiQNGaUWx48X2Q" style="color:blue!important">{{$t('telegram')}}</a><br><br>

{{$t('hr_help')}} <a href="t.me/hr_hmp" style="color:blue!important">{{$t('hr')}}</a>  

    </div>
</template>