<template>
  <div class="hello">
    <d-card><span class="burger-hide">
      <Slide noOverlay>
          <router-link to="/" class="hover">{{$t('kpi')}}</router-link>
          <router-link to="/employees-kpi" class="hover" v-if="user.is_admin != 0">{{$t('kpi_employees')}} 
            <d-badge theme="danger" style="height: 27px" v-if="notification_number>0">{{notification_number}}</d-badge>
          </router-link>
          <router-link to="/competencies" class="hover">{{$t('competencies')}}
            <d-badge theme="danger" style="height: 27px" v-if="cnotification">{{cnotification}}</d-badge>
          </router-link>
          <router-link to="/new-employee" class="hover" v-if="user.is_admin == 1 
          || user.is_admin == 2">{{$t('employees')}}</router-link>
          <router-link to="/marks" class="hover" >{{$t('employees_marks')}}</router-link>
          <router-link to="/companies" class="hover" v-if="user.is_admin == 1">{{$t('departments')}}</router-link>
          <router-link to="/surveys" class="hover"  v-if="user.is_admin == 1">{{$t('questions')}}</router-link>
          <router-link to="/permissions" class="hover" v-if="user.is_admin == 1">{{$t('period')}}</router-link>
          <router-link to="/total" class="hover" >{{$t('totals')}}</router-link>
          <router-link to="/logs" class="hover" v-if="user.is_admin == 1">{{$t('history')}}</router-link>
          <router-link to="/feedback" class="hover">{{$t('help')}}</router-link>
          <span @click="logout()" class="hover" style="color:white">{{$t('logout')}}</span>

      </Slide><br><br></span>
       <d-modal v-if="showModalProfile" @close="handleCloseModal()">
        <d-modal-header>
            <d-modal-title>Профиль</d-modal-title>
        </d-modal-header>
        <d-modal-body>
          <d-tabs card pills >
            <d-tab title="Фото" active>
              <div v-if="!image">
                <center>Изменить фото</center>
                <center>
                  <label for="file-input">
                    <img style="width: 80px;cursor:pointer" src="https://goo.gl/pB9rpQ"/>
                  </label>
                </center>
                <input id="file-input" type="file" ref="file" @change="onFileChange">
              </div>
              <div v-else>
                <d-btn size="sm" theme="danger" @click="removeImage">Убрать фото</d-btn>
                <img :src="image" style="max-width:80%;"/><br><br>
              <d-btn  pill theme="success" @click="changeAva()">Сохранить </d-btn>
              </div>
            </d-tab> 
            <d-tab title="Изменить пароль">
              <d-input-group prepend="Ваш пароль" class="mb-2">
                <d-input v-model="changePassword.password"/>
              </d-input-group>
              <d-input-group prepend="Новый пароль" class="mb-2">
                <d-input v-model="changePassword.password1" />
              </d-input-group>
              <d-input-group prepend="Подтвердите новый пароль" class="mb-2">
                <d-input v-model="changePassword.password2" />
              </d-input-group><br>
              <d-btn  pill theme="success" @click="changePass()">{{$t('edit')}}</d-btn>
            </d-tab>
        </d-tabs>
        </d-modal-body>
    </d-modal>
        <d-card-body :class="classList" :title="user.name+' '+user.surname" :subtitle="user.role" >
          {{user.department.name}} <br>
         <span v-if="user.manager.name"> {{$t('manager')}}: {{user.manager.name}} {{user.manager.surname}}<br></span>
          {{$t('position_level')}}: {{user.grade}}<br>
          <div @click="showModalProfile=true" style="cursor:pointer;">
            <d-img :src="$imageurl+user.img" fluid  
            style="border-radius:50px;position:absolute; right: 20px; top: 10px;width: 100px; height:100px;"/>
          </div>
          <span @click="logout()" class="lg-button router-link-active" style="text-decoration: none;margin-right:5px;" >{{$t('logout')}}</span>
          <d-form-select v-model="lang" style="width: 70px;" :options="langOptions"/>
        </d-card-body>
        <br><d-card>
          <d-nav tabs>
            <d-nav-item active to="/">{{$t('kpi')}}</d-nav-item>
            <d-nav-item to="/competencies" :active="active('/competencies')">{{$t('competencies')}} <d-badge theme="danger" v-if="cnotification > 0">{{cnotification}}</d-badge>
            </d-nav-item>
            <d-nav-item to="/employees-kpi"  v-if="user.eq != 0" :active="active('/employees-kpi')">{{$t('kpi_employees')}} 
            <d-badge theme="danger" v-if="notification_number > 0">{{notification_number}}</d-badge></d-nav-item>
           <d-nav-item to="/new-employee" v-if="user.is_admin != 0" :active="active('/new-employee')">{{$t('employees')}}</d-nav-item>
           <d-nav-item to="/marks" :active="active('/marks')">{{$t('employees_marks')}}</d-nav-item>
           <d-nav-item to="/permissions" v-if="user.is_admin == 1" :active="active('/permissions')">{{$t('period')}}</d-nav-item>
            <d-nav-item to="/companies" v-if="user.is_admin == 1" :active="active('/companies')">{{$t('departments')}}</d-nav-item>
          <d-nav-item to="/surveys" v-if="user.is_admin == 1"  :active="active('/competencies')">{{$t('questions')}}</d-nav-item>
           <d-nav-item to="/total" :active="active('/total')">{{$t('totals')}}</d-nav-item>
           <d-nav-item to="/logs" v-if="user.is_admin == 1" :active="active('/logs')">{{$t('history')}}</d-nav-item>
           <d-nav-item to="/feedback" :active="active('/feedback')">{{$t('help')}}</d-nav-item>
          </d-nav><br>
            <router-view  
              :openKpi="openKpi"
              :fact_period="fact_period"
              :fact_period_manager="fact_period_manager"
              :kpi="kpi"
              :employee="user"
              :user_id="user._id"
              :employees='employees'
              @done="getEmployeesClick()"
              :surveys="surveys"
              :period="period"
              :current_period="current_period"
              :current_year="current_year"
              @getkpiperiod="getperiodkpi" 
              :token="token"
              :kpi_inital="igoals"
              :fact_months="fact_months"
              :employeesLoading="employeesLoading"
              ></router-view>
      </d-card>
    </d-card>
  </div>
</template>
<script>
import { Slide } from 'vue-burger-menu' 
import { setLocale, getLocale } from '@/locales'

export default {
  props: {
    msg: String
  },
 components: {
    Slide // Register your component
  },
  data() {
    return {
      componentKey:0,
      fact_months:[],
      igoals: [],
      lang:'ru',
      langOptions: [
        { value: 'ru', text: 'Ру' },
        { value: 'uz', text: 'Uz' },
      ],
      openKpi:true,
      fact_period:6,
      fact_period_manager:16,
      emp_exist: false,
      surveyIndex: 0,
      changePassword:{},
      changeForm:{},
      value:[],
      surveys: [],
      mark_persons:[],
      logs:[],
      image: '',
      period: 0,
      cnotification: 0,
      kpi:null,
      file: '',
      employeesLoading: true,
      comp_notify: false,
      showModal: false,
      showModalProfile: false,
      employees: [],
      notification_number: 0,
      user: {},
      current_year: new Date().getFullYear(),
      current_period:1,
      permissions: {},
      token: {headers : {
          'Authorization': ''
        }},
      url:this.$url+''
    }
  },
  computed: {
    classList(){
      return {
        'manager': (this.user.is_admin == 2),
        'admin': (this.user.is_admin == 1),
        'employee': (this.user.is_admin == 0),
      }
    },
  },
  methods: {
      kpi_inital(){
        this.igoals = []
      this.kpi.goals.map((item, index) => { 
        this.igoals.push({
          name: item.name,
          weight: item.weight,
          kpi: item.kpi,
          units: item.units,
          months: [],
          comment: this.kpi.comments[index]
        })
        item.months.map(m => this.igoals[index].months.push({
            plan: m.plan,
            fact: m.fact
        }))
      })
    },
    getperiodkpi(year, period){
      this.current_year = year
      this.current_period = period
      this.getEmployee(this);
    },
    async changeAva(){
      try{
        let formData = new FormData();
        formData.append('avatar', this.file);
        let res = await this.axios.post(this.url+'/change/ava',
            formData,
            {
            headers: {
              'Content-Type': 'multipart/form-data',
              ...this.token.headers
            }
          });
          this.showModalProfile = false;
          alert('Изменено');
          this.getEmployee(this);
      } catch(err){
        console.log(err);
        alert('Произошла ошибка')
    }
},
  active(name){
    if(name == this.$route.path) return true
    else false
  },
  changePass(){
    if(this.changePassword.password == this.user.password){
      if(this.changePassword.password1 == this.changePassword.password2){
        this.changeForm.password = this.changePassword.password2;
        this.editEmployee();
      } else {
        alert('Пароли не совпадают')
      }
    } else {
      alert('Неверный пароль')
    }
  },
  onFileChange(e) {
      var files = e.target.files || e.dataTransfer.files;
      this.file = this.$refs.file.files[0];
    if (!files.length)
        return;
      this.createImage(files[0]);
    },
    createImage(file) {
      var image = new Image();
      var reader = new FileReader();
      var vm = this;
      reader.onload = (e) => {
        vm.image = e.target.result;
      };
      reader.readAsDataURL(file);
    },
    removeImage: function (e) {
      this.image = '';
    },
    postEmployeeClick(){
      this.postEmployee(this);
    },
    getEmployeesClick(){
      this.getEmployees(this);
    },
    handleCloseSearch(){
      this.searchForm = false;
    },
    handleCloseModal(){
      this.showModal = false;
      this.showModalProfile = false;
    },
    async logout(){
      await localStorage.removeItem('kpi-jwt-auth');
      await localStorage.removeItem('kpi-jwt-user');
      window.location.href = '/login'
    },
    async getEmployees(vm){
      try{
          this.employeesLoading = true;
          vm.employees  = await vm.axios.get(this.$url+'/get/employees',{...vm.token});
          vm.employees  = vm.employees.data;
          let arr = []
          vm.employees.map(item => {
            if(item.manager){
              if(this.user._id == item.manager.id){
                arr.push(1);
                if(item.kpi_notify){
                  if(item.kpi_notify == 1) this.notification_number = this.notification_number+1
                }
                if(item.cnotify) this.cnotification = this.cnotification + 1
              }
            }
          })
          if(arr.length != 0){
            this.emp_exist = true;
          }
          vm.employees.sort((a,b) => { return (b.rank - a.rank) })
          this.employeesLoading = false;
      } catch (err){
          console.log(err);
      }
    },
    async getEmployee(vm){
      try{
        this.$userLoading = true;
        let user  = await vm.axios.get(this.$url+'/get/employee/'+vm.user._id+'/'+this.current_year+'/'+this.current_period,{...vm.token});
        vm.user = user.data.user;
        vm.kpi = user.data.kpi;
        this.kpi_inital()
        localStorage.setItem('kpi-jwt-user', JSON.stringify(vm.user));
        document.title = vm.user.name + ' ' + vm.user.surname
        if(vm.user.department.name) document.title += ' '+vm.user.department.name
        this.$userLoading = false;
      } catch (err) {
          console.log(err);
      }
    },
    async editEmployee() {
      try{
        let res = await this.axios.post(this.url+'/edit/employee/'+this.user._id, {
          ...this.changeForm
        }, {...this.token})
        this.showModal = true;
        this.getEmployee(this);
      } catch(err) {
        console.log(err);
        alert('Произошла ошибка! Попробуйте заново')
      }
    },
    async getPermissions(vm){
      try {
        let data = await vm.axios.get(this.$url+'/get/companies',{...vm.token});
        vm.permissions  = data.data;
          this.permissions.map((item) => {
          if(item.id === this.user.department.id){ 
            this.open    = item.marking
            this.openKpi = item.kpi
            if(!item.months) item.months = []
            this.fact_months = item.months
            if(item.fact_period){
              this.fact_period = parseInt(item.fact_period)
            }
            if(item.fact_period_manager){
              this.fact_period_manager = parseInt(item.fact_period_manager)
            }
          }
        })
      } catch (err){
        console.log(err);
      }
    },
  },
  watch:{
    lang: function(value) {
      setLocale(value)
      this.$i18n.locale = value
    }
  },
  created() {
    this.lang = this.$i18n.locale;
    this.user = JSON.parse(localStorage.getItem('kpi-jwt-user'));
    let m = new Date().getMonth()
    if(m > 5) this.current_period = 2
    localStorage.setItem('kpi-period', this.current_period)
    localStorage.setItem('kpi-year', this.current_year)
    this.token.headers['Authorization']  = localStorage.getItem('kpi-jwt-auth');
    this.getEmployee(this);
    this.getEmployees(this);
    this.getPermissions(this);
    this.selectedTab = parseInt(localStorage.getItem('kpi-tab'));
   }
}
</script>
<style scoped>
a.nav-link {
  cursor: pointer!important;
}
.card-body{
  padding-bottom:0px;
  padding-top:10px;
  text-align:left!important;
  padding-left: 5px;
  margin: 5px;
  border:5px solid white;
  border-radius: 6px;
}
.admin{ 
  border-left-color: rgb(198, 198, 198);
}
.employee{
  border-left-color: rgb(144, 1, 167)
}
.manager{
  border-left-color: rgb(41, 49, 130)
}
@media (min-width: 900px) {
  .burger-hide{
    display: none;
  }
}
@media (max-width: 900px) {
  ul.nav.nav-tabs{
    display: none!important;
  }
  div.bm-burger-button{
    left:1px!important;
    top:1px
  }
  .burger-hide div{
    margin-top:-1px
  }
  .card-body{
    padding:5px;
  }
}


.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 5px!important;
    top: 5px!important;
    cursor: pointer;
  }
  .bm-burger-bars {
    background-color: #945555;
  }
  .line-style {
    position: absolute;
    height: 20%;
    left: 0;
    right: 0;
  }
  .cross-style {
    position: absolute;
    top: 12px;
    right: 2px;
    cursor: pointer;
  }
  .bm-cross {
    background: #bdc3c7;
  }
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  .bm-menu {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgb(54, 54, 150); /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
  }

  .bm-overlay {
    background: rgba(129, 121, 121, 0.3);
  }
  .bm-item-list {
    color: #b8b7ad;
    margin-left: 10%;
    font-size: 20px;
  }
  .bm-item-list > * {
    display: flex;
    text-decoration: none;
    padding: 0.7em;
  }
  .bm-item-list > * > span {
    margin-left: 10px;
    font-weight: 700;
    color: white;
  }
h3 {
  margin: 40px  0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.lg-button {
  float: right;
  cursor: pointer;
  margin-right:20px;
}
.lg-button:hover {
  color: rgb(144, 167, 167)
}
@media (max-width:900px) {
  .lg-button{
    display: none
  }
}
.hover{
  cursor: pointer;
}
#file-input{
    display: none;
}
</style>