<template>
  <div class="hello">
    <d-list-group>
      <span v-for="(item, index) in employees" :key="index">
        <router-link :to="'/employee/'+item._id" v-if="item.manager && (user_id == item.manager.id)">
        </router-link> 
      </span>
    </d-list-group>
  </div>
</template>
<script>
export default {
  props: {
    employees: Array,
    user_id: String
  },
  computed: {
  },
  data() {
    return {
    }
  },
  methods: {
  },
  mounted(){
    
   },
}
</script>
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>