<template>
  <div style="padding: 40px; max-width: 500px; margin: 0 auto;">
    <h2>
      <span style="float:left;">
        {{ $t('auth_login') }}
      </span>
      <d-form-select v-model="locale" style="width: 70px;float:right" :options="langOptions"/><br>
    </h2>
    <br>
    <label class="sr-only" for="f1_Username">Имя пользователя</label>
    <d-input id="f1_Username" v-model="form.email" class="mb-2 mr-sm-2 mb-sm-0" placeholder="Имя пользователя" />
    <br>
    <label class="sr-only"  for="f1_Password" >Пароль</label>
    <d-input  id="myInput" v-model="form.password" class="mr-2" type="password" placeholder="Пароль" />
<br>
<br>
  <d-alert theme="danger" :show="show">{{messages[message]}}</d-alert>
    <span v-if="loading">
        <Loader height="50" /> 
    </span>
    <span v-else>
      <d-button id="myBtn" theme="primary" @click="login()">{{$t('auth_login')}}</d-button>
    </span>
</div>
</template>
<script>
import { setLocale, getLocale } from '@/locales'

export default {
  data () {
    return {
      show: false,
      locale: 'ru',
      messages: [
        this.$t('auth_failed'),
        'Проверьте подключение к интернету',
        this.$t('auth_insert')
      ],
      langOptions: [
        { value: 'ru', text: 'Ру' },
        { value: 'uz', text: 'Uz' },
      ],
      message: 1,
      form: {
        email: '',
        password: '',
      },
      loading: false
    }
  },
  watch: {
    locale(value) {
      this.$i18n.locale = value;
    }
  },
  mounted(){
    var input = document.getElementById("myInput");
      input.onkeydown =  (e)  => {
        var evtobj = window.event? event : e
        if (evtobj.keyCode == 13) {
          e.preventDefault()
          this.login()
        }
    }
  },
  methods: {
    keyPress(event){
      if (event.keyCode === 13) {
      event.preventDefault();
      this.login()
      }
    },
    passwordValidate(){
      if(this.form.password.length < 8){
        return false
      }  else return true
    },
     async login(){
      if(this.form.password.length > 1 && this.form.email.length > 1){
        this.loading = true;
        this.show = false;
        let uri = this.$url+"/login";
        try {
          let res = await this.axios.post(uri, {login: this.form.email, passw: this.form.password})
          if(res.data.user){
          localStorage.setItem('manager_img', res.data.manager_img);
          localStorage.setItem('kpi-jwt-auth', res.data.token);
          localStorage.setItem('kpi-jwt-user', JSON.stringify(res.data.user));
          window.location.href = '/'
          } else if(res.data == 'invalid credentials') {
            this.show = true;
            this.loading = false;
            this.message = 0;
          }
        }
        catch (err) {
          this.show = true
          if(err.response.status == 400) this.message = 0;
          else this.message = 1;
          this.loading = false;
        }
      } else {
        this.show = true; 
        this.message = 2;
        this.loading = false;
      }
    },
  },

  created() {
    this.locale = this.$i18n.locale;
  },
}
</script>