<template>
    <d-list-group>
        <d-list-group-item v-for="(log,index) in logs" :key="index">
        <span style="float:left">
        {{log.name}} {{log.action}} 
        </span>
        <span style="float:right">
        {{(new Date(log.date)).toLocaleDateString('ru-RU', {hour:'numeric',minute:'numeric'}).toString()}}
        </span>
        </d-list-group-item>
    </d-list-group>
</template>

<script>
export default {
data() {
    return {
        logs :[],
        bottom: false,
        token: {headers : {
          'Authorization': ''
        }},
        last_id: null
    }
},
methods: {
         async getLogs(vm){
            try{
                let res  = await vm.axios.get(this.$url+'/get/logs/'+this.last_id,{...vm.token});
                let arr = vm.logs;
                vm.logs = await arr.concat(res.data);

                if(vm.logs[vm.logs.length - 1]){
                    this.last_id = vm.logs[vm.logs.length - 1]._id;
                }
            }catch (err){
                console.log(err);
            }
        },
        bottomVisible() {
            const scrollY = window.scrollY
            const visible = document.documentElement.clientHeight
            const pageHeight = document.documentElement.scrollHeight
            const bottomOfPage = visible + scrollY >= pageHeight
            return bottomOfPage || pageHeight < visible
        },
    },
    mounted(){
       this.token.headers['Authorization']  = localStorage.getItem('kpi-jwt-auth');
       this.getLogs(this);
    },
    watch: {
        bottom(bottom) {
            if (bottom) {
                this.getLogs(this);
            }
        }
    },
    created(){
        window.addEventListener('scroll', () => {
          this.bottom = this.bottomVisible()
        })
    }
}
</script>

<style>

</style>
