  <template>
  <div>
  <span v-if="loading && kmark">
    <Loader height="100" />
  </span>
  <span v-else-if="open && !loading">
    <span v-if="emp_length">
      {{$t('marked')}}: {{emp_length}}
      {{$t('employees')}}: {{employee.eq}}
    </span>
    <span v-if="!totalInputShow">Ваша общая оценка {{Math.round((sumTotalK + sumTotalS)*100)/100}}</span>
    <span v-if="totalInputShow"> Общий {{$t('total')}}: {{Math.round((finalK+finalS)*100)/100}}</span>
      <d-tabs card pills :value="tabSelect" style="min-width:320px;max-width:950px;margin:0 auto;">
        <h5 style="width:200px;margin:0 auto;text-align:left">Легенда:	Баллы</h5>
        <h6>не соответствует	<b>1</b></h6>
        <h6>низкий уровень	 <b>2-3</b></h6>
        <h6>средний уровень	 <b>5-6</b></h6>
        <h6>высокий уровень	 <b>7-9</b></h6>
        <h6>продвинутый уровень	<b>10</b></h6>
        <d-tab title="Ключевые компетенции" @click="tabSelect = 0">
          <br>
          <div v-for="(item, index1) in kmark" :key="index1">
            <d-card><br>  
            <span style="position:absolute;right: 10px;">{{$t('total')}} 
              <span v-if="totalInputShow">
                <span v-if="!ktotals[index1].total">0</span>
                <span v-else-if="ktotals[index1].total">{{ktotals[index1].total.toFixed(2)}}</span>
              </span> 
              <span v-else-if="item.total">{{item.total.toFixed(2)}}</span> 
            </span>
              <b>{{index1+1}}. {{item[`name${locale}`]}}</b>
              <i>{{item[`desc${locale}`]}}</i>
                <div v-for="(q, index2) in item[`questions${locale}`]" :key="index2">
                  <div style="text-align: left;">
                    <div style="width:65%;float:left;text-align:left;padding:10px">
                       {{index2+1}}) {{q}}
                    </div><hr>
                      <div style="text-align: right;" v-if="index2 == 0 && ktotals[index1]
                       && emp_length == employee.eq">
                      </div>
                  <span style="width:50px! important;position:absolute;right:0px;">
                      <small style="display:inline-block;" 
                      v-if="emp_length == employee.eq && emp_kmark[index1] && manager_kmark[index1]">
                        {{$t('employees_marks')}}
                      </small>
                    <d-input disabled
                      style=" border:1px black solid;float:right"
                      v-if="emp_length == employee.eq && emp_kmark[index1] && manager_kmark[index1]"
                      v-model="emp_kmark[index1].answers[index2]" ></d-input>
                  </span>
                  <span v-if="employee.eq"><br><br></span>
                  <span style="display:inline-block;width:170px !important;position:absolute;right:0px;
                      ">    
                      <small style="display:inline-block" v-if="totalInputShow && user.id != employee._id && emp_length == employee.eq">
                        {{$t('employee_mark')}}
                      </small>
                      <small style="display:inline-block" v-else-if="ktotals[0] && totalInputShow && user_id == employee._id
                       && manager_kmark[index1]">
                        {{$t('manager')}}
                      </small>
                    <d-input disabled 
                      style="border:1px black solid;float:right" v-if="emp_length == employee.eq && manager_kmark[index1]"
                      v-model="manager_kmark[index1].answers[index2]">
                    </d-input>
                  </span><br><br>
                  <span style="width:150px!important;position:absolute;right:0px;">
                      <small style="display:inline-block;">
                        {{$t('your_mark')}}
                      </small>
                    <d-input type="number" style=" border:1px black solid;float:right;width:20px;" :disabled="disabled" v-if="k_form[index1]"
                      v-model="k_answers[index1].answers[index2]"
                      @change="getTotalK(index1, index2)" >
                    </d-input>
                  </span><br><br>
                  <span  v-if="totalInputShow && ktotals[index1] && emp_length ==  employee.eq"
                    style="width:100px !important;position:absolute;right:0px;">
                    <small style="display:inline-block">
                      {{$t('total')}}<br>
                    </small>
                  <d-input type="number"
                      @change="getTotalK(index1, index2)"
                    v-model="ktotals[index1].answers[index2]" :placeholder='$t("total")'
                    style="border:1px black solid;float:right "></d-input>
                  </span>
                  <span  v-if="emp_length && employee._id == user_id && ktotals[index1] && emp_length ==  employee.eq && manager_kmark[0]"
                    style="width:100px !important;position:absolute;right:0px;
                  ">
                    <small style="display:inline-block">
                      {{$t('total')}}
                      <br>
                    </small>
                  <d-input type="number" 
                    disabled
                    v-model="ktotals[index1].answers[index2]" :placeholder='$t("total")'
                    style="border:1px black solid;float:right"></d-input>
                  </span>
                    <br>
                    <span v-if="user_id != employee._id"><br><br></span>
                  </div>
                </div><br>
                <b>{{$t('comments')}}</b>
                <!-- <template v-for="mark in marks"  style="text-align:left!important">
                  <span v-if="mark.k_mark[index1].comment" :key="mark._id" style="text-align:left!important">
                     - {{mark.k_mark[index1].comment}}
                    <br />
                  </span>
                </template> -->
                <textarea-autosize  
                  v-if="!totalInputShow"
                  placeholder=" Оставить комментарий"
                  v-model="kmark[index1].comment"
                  :min-height="100"
                  :max-height="350"
              ></textarea-autosize>
              <textarea-autosize  
                  v-if="totalInputShow && user_id != employee._id "
                  placeholder=" Оставить комментарий"
                  v-model="ktotals[index1].comment"
                  :min-height="100"
                  :max-height="350"
              ></textarea-autosize>
            </d-card>
            <br>
          </div>
          <a href="#" @click="tabSelect = 1"><d-button >Далее</d-button></a>
        </d-tab>
        <d-tab title="Поддерживающие компетенции"><br>
          <div v-for="(item, index1) in smark" :key="index1">
            <d-card><br>  
            <span style="position:absolute;right: 10px;"> {{$t('total')}}
              <span v-if="totalInputShow">
                <span v-if="!stotals[index1].total">0</span>
                <span v-else-if="stotals[index1].total">{{stotals[index1].total.toFixed(2)}}</span>
              </span> 
              <span v-else-if="item.total">{{(item.total).toFixed(2)}}</span> 
            </span>
              <b>{{index1+1}}. {{item[`name${locale}`]}}</b>
              <i>{{item[`desc${locale}`]}}</i>
                <div v-for="(q, index2) in item[`questions${locale}`]" :key="index2">
                  <div style="text-align: left"> 
                    <div style="width:70%;float:left;text-align:left;padding-left:10px;">
                       {{index2+1}}) {{q}}
                       </div><hr>
                  <span style="width:50px! important;position:absolute;right:0px;">
                      <small style="display:inline-block;" v-if="totalInputShow && emp_length">
                          {{$t('employees_marks')}}
                      </small>
                    <d-input disabled
                      style=" border:1px black solid;float:right"
                       v-if="emp_length == employee.eq && emp_smark[index1] && manager_smark[index1]"
                      v-model="emp_smark[index1].answers[index2]" ></d-input>
                  </span>
                  <span v-if="employee.eq"><br><br></span>
                  <span style="display:inline-block;width:170px !important;position:absolute;right:0px;
                      ">    
                      <small style="display:inline-block" v-if="totalInputShow && user.id != employee._id">
                        {{$t('employee_mark')}}
                      </small>
                      <small style="display:inline-block" v-else-if="stotals[0] && totalInputShow && user_id == employee._id
                       && manager_smark[index1]">
                        {{$t('manager')}}
                      </small>
                    <d-input disabled 
                      style="border:1px black solid;float:right" 
                      v-if="emp_length ==  employee.eq && manager_smark[index1]"
                      v-model="manager_smark[index1].answers[index2]">
                    </d-input>
                  </span><br><br>
                  <span style="width:150px!important;position:absolute;right:0px;
                   ">
                      <small style="display:inline-block;">
                          {{$t('your_mark')}}
                      </small>
                    <d-input type="number" style=" border:1px black solid;float:right;width:20px;"
                     :disabled="disabled" v-if="s_form[index1]"
                      v-model="s_answers[index1].answers[index2]"
                      @change="getTotalS(index1, index2)" >
                    </d-input>
                  </span><br><br>
                    <span  v-if="totalInputShow && stotals[index1] && emp_length ==  employee.eq"
                      style="width:100px !important;position:absolute;right:0px;
                    ">
                      <small style="display:inline-block">
                          {{$t('total')}}<br>
                      </small>
                    <d-input type="number"
                      @change="getTotalS(index1, index2)"
                      v-model="stotals[index1].answers[index2]" :placeholder='$t("total")'
                      style="border:1px black solid;float:right "></d-input>
                    </span>
                    <span  v-if="emp_length && employee._id == user_id && stotals[index1] && emp_length == employee.eq && manager_smark[0]"
                      style="width:100px !important;position:absolute;right:0px;">
                      <small style="display:inline-block">
                          {{$t('total')}}<br>
                      </small>
                    <d-input type="number" disabled
                      v-model="stotals[index1].answers[index2]" :placeholder='$t("total")'
                      style="border:1px black solid; float:right"></d-input>
                    </span>
                    <br>
                    <span v-if="user._id != employee._id"><br><br></span>
                  </div>
                </div><br>
                <b>{{$t('comments')}}</b>
                <!-- <template v-for="mark in marks" >
                  <span v-if="mark.s_mark[index1].comment" :key="mark._id" style="text-align:left!important">
                    - {{mark.s_mark[index1].comment}}
                    <br />
                  </span>
                </template> -->
              <textarea-autosize
              v-if="!totalInputShow"
              placeholder=" Комментарий"
                  v-model="smark[index1].comment"
                  :min-height="100"
                  :max-height="350"
              ></textarea-autosize>
              <textarea-autosize 
                v-if="totalInputShow && user_id != employee._id"
                placeholder=" Комментарий"
                v-model="stotals[index1].comment"
                :min-height="100"
                :max-height="350"
              ></textarea-autosize>
            </d-card>
            <br>
          </div>
          <d-button @click="postMark()" v-if="!sending" :disabled="sending">Готово</d-button>
          <Loader v-if="sending" height="39"/>
        </d-tab>
    </d-tabs><br>
  </span>
  <span v-else>
    <br>
    <br>
    <h3>Период оценок закрыт</h3>
  </span>
  </div>
</template>
<script>
export default {
  props: {
    msg: String,
    user_id: String,
    emp_length: Number,
    surveys: Array,
    exists_already: Number,
    manager_kmark: Array,
    manager_smark: Array,
    emp_kmark: Array,
    emp_smark: Array,
    kmark: Array,
    open: Boolean,
    smark: Array,
    period: Number,
    employee: Object,
    loading: Boolean,
    marks: Array,
  },
  data(){
    return {
      tabSelect: 0,
      sum:0,
      asd:'',
      comments: [],
      prev_totals_k:[],
      lang: 'ru',
      prev_totals_s:[],
      k_answers:[],
      s_answers:[],
      k_totals:[],
      s_totals:[],
      formData: {},
      finalK: 0,
      sending: false,
      finalS: 0,
      sumTotalK: 0,
      sumTotalS: 0,
      token: {
        headers : {
          'Authorization': ''
        }
      },
    }
},
computed:{
  locale(){
    if(this.lang === 'ru') return ''
    else return '2';
  },
  max_key(){
    if(this.employee.max_key == 0.33) {
      this.employee.max_key = 15/5/9
    } else if(this.employee.max_key == 0.22){
      this.employee.max_key = 10/5/9
    } else {
      this.employee.max_key = 20/5/9
    }
    return this.employee.max_key;
  },
  max_support(){
    if(this.employee.max_support == 0.33) {
      this.employee.max_support = 15/5/9
    } else if(this.employee.max_support == 0.22){
      this.employee.max_support = 10/5/9
    } else {
      this.employee.max_support = 20/5/9
    }  
    return this.employee.max_support;
  },
  disabled(){
    if(this.exists_already == 1) return true
    else return false
  },
  totalInputShow(){
    if(this.employee.manager){
      if(this.employee.manager.id == JSON.parse(localStorage.getItem('kpi-jwt-user'))._id){
        if(this.exists_already == 1 && this.manager_kmark.length != 0) return true
      } else return false
    } else  return false
  },
ktotals:{
  get: function() {
    let arr = []
    this.kmark.map((item,index) => {
      arr.push({
        name: item.name,
        name2: item.name2,
        questions: item.questions,
        questions2: item.questions2, 
        answers: [1,1,1,1,1]
      })
    })
    this.k_totals = arr;
    if(this.prev_totals_k.length != 0){
      this.prev_totals_k.map(item => {
        this.finalK += item.total;
      })
      return this.prev_totals_k
    }

    else return arr; 
  },
  set:function(newValue) {
    return newValue
  }
},
stotals:{
  get: function() {
    let arr = []
    this.smark.map((item,index) => {
      arr.push({
        name: item.name,
        name2: item.name2,
        questions: item.questions,
        questions2: item.questions2, 
        answers: [1,1,1,1,1],
      })
    })
    this.s_totals = arr;
    if(this.prev_totals_s.length != 0){
      this.prev_totals_s.map(item => {
        this.finalS += item.total;
      })
      return this.prev_totals_s 
    } 
    else return arr; 
  },
  set:function(newValue) {
    return newValue
  }
},
  k_form(){
    let arr = []
    this.sumTotalK = 0 
    this.kmark.map((item, index) => {
        arr.push({
          name: item.name,
          name2: item.name2,
          questions: item.questions,
          questions2: item.questions2, 
          answers: item.answers,
        })
      this.sumTotalK += item.total
      });
      this.k_answers = arr;
      return arr;
  },
  s_form(){
      let arr = []
      this.sumTotalS = 0 
      this.smark.map((item, index) => {
        arr.push({
          name: item.name,
          name2: item.name2,
          questions: item.questions,
          questions2: item.questions2, 
          answers: item.answers,
        })
        this.sumTotalS += item.total
      });
      this.s_answers = arr;
      return arr;
  }
},
methods: {
    getTotalK(index1,index2){
      let arr = [];
      if(this.totalInputShow){
        arr = this.ktotals
      } else {
        arr = this.k_form 
      }
      arr[index1].total = 0
      if(arr[index1].answers[index2]>10){
        arr[index1].answers[index2] = 10
      }else if(arr[index1].answers[index2]<1){
        arr[index1].answers[index2] = 1
      }
      else if(!arr[index1].answers[index2]){
        alert('Пожалуйста введите оценку');
      }
      let arr1 = this.kmark 
      if(this.totalInputShow) arr1 = this.ktotals  
      this.finalK = 0;
      arr1.map(item => {
        item.total = 0;
        item.answers.map(an => {
          if(!an) an = 1;
          item.total += (parseInt(an)-1)*this.max_key
        });
        this.finalK += item.total
      });
      return arr1[index1].total; 
    },

    getTotalS(index1,index2){
      let arr = [];
      if(this.totalInputShow){
        arr = this.stotals
      } else {
        arr = this.s_form 
      }
      arr[index1].total = 0;
      if(arr[index1].answers[index2]>10){
        arr[index1].answers[index2] = 10;
      }else if(arr[index1].answers[index2]<1){
        arr[index1].answers[index2] = 1;
      }
      else if(!arr[index1].answers[index2]){
        alert('Пожалуйста введите оценку');
      }

      let arr1 = this.smark
      if(this.totalInputShow) arr1 = this.stotals  
      this.finalS = 0;
      arr1.map(item => {
        item.total = 0;
        item.answers.map(an => {
          if(!an) an = 1;
          item.total += (parseInt(an)-1)*this.max_support 
        })
        this.finalS += item.total
      })
      return arr1[index1].total;
    },
    async postMark(){
      try{
        this.sending = true;
        this.k_form.map((item, index) => {
          item.total = 0;
          for(let i=0;i<item.questions.length;i++){
            item.total = item.total + (parseInt(item.answers[i])-1)*this.max_key;
            item.total = Math.round(item.total * 100) / 100;
          }
          if(this.max_key == 0.33){
            if(item.total > 15) item.total = 15
          } else if(this.max_key == 0.44){
            if(item.total > 20) item.total = 20
          }
          item.comment = this.kmark[index].comment 
        })
         this.s_form.map((item, index) => {
          item.total = 0;
                   
          for(let i=0;i<item.questions.length;i++){
            item.total =item.total + (parseInt(item.answers[i])-1)*this.max_support;
            item.total = Math.round(item.total * 100) / 100
          }
          if(this.max_support == 0.33){
            if(item.total > 15) item.total = 15
          } else if(this.max_support == 0.22){
            if(item.total > 10) item.total = 10
          }
          item.comment = this.smark[index].comment 
        })
        let formData = {
          s_mark:   this.s_form,
          k_mark:   this.k_form,
          user_id:  this.employee._id,
          max_key:  this.employee.max_key,
          max_support: this.employee.max_support
        }
        if(this.employee.manager){
          if(this.employee.manager.id == JSON.parse(localStorage.getItem('kpi-jwt-user'))._id){
            if(this.exists_already == 1 && this.manager_kmark.length != 0){
              // this.stotals.map((item) => {
              //   item.total = 0
              //   for(let i = 0;i<item.questions.length;i++){
              //     if(!item.answers[i]) item.answers[i] = 1
              //     if(this.employee.max_support == 0.33) {
              //       this.employee.max_support = 15/5/9
              //     } else if(this.employee.max_support == 0.22){
              //       this.employee.max_support = 10/5/9
              //     } else {
              //       this.employee.max_support = 20/5/9
              //     }
              //     item.total = item.total + (parseInt(item.answers[i])-1)*this.max_support;
              //     item.total = Math.round(item.total * 100) / 100;
              //   }
              //   if(this.employee.max_support == 0.33){
              //     if(item.total > 15) item.total = 15
              //   } else if(this.employee.max_support == 0.22){
              //     if(item.total > 10) item.total = 10
              //   }
              // })
              // this.ktotals.map((item) => {
              //   item.total = 0
              //   for(let i = 0;i<item.questions.length;i++){
              //     if(!item.answers[i]) item.answers[i] = 1
              //     if(this.employee.max_key == 0.33) {
              //       this.employee.max_key = 15/5/9
              //     } else if(this.employee.max_key == 0.22){
              //       this.employee.max_key = 10/5/9
              //     } else {
              //       this.employee.max_key = 20/5/9
              //     }
              //     item.total = item.total + (parseInt(item.answers[i])-1)*this.max_key;
              //     item.total = Math.round(item.total * 100) / 100;
              //   }
              //   if(this.employee.max_key == 0.33){
              //     if(item.total > 15) item.total = 15
              //   } else if(this.employee.max_key == 0.44){
              //     if(item.total >20) item.total = 20
              //   }
              // })
              let totalform = {
                s_mark:   this.stotals,
                k_mark:   this.ktotals,
                user_id:  this.employee._id,
                max_key:  this.employee.max_key,
                max_support: this.employee.max_support
              } 
              let res = await this.axios.post(this.$url+'/post/total', {...totalform},{...this.token});
                alert('Оценка произведена успешно')
                this.$router.push({path: '/competencies'})              
                return ;
            }
          }
        }
        let res = await this.axios.post(this.$url+'/post/mark', {...formData},{...this.token});
        this.sending = false;
        alert('Оценка произведена успешно')
        this.$router.push({path: '/competencies'})
      }catch (err) {
        this.sending = false;
        alert('Попробуйте еще раз')
        console.log(err)
      }
    }
  },
  mounted (){
    this.user = JSON.parse(localStorage.getItem('kpi-jwt-user'));
    this.lang = localStorage.getItem('locale');
    if(!this.lang) this.lang = 'ru';
    this.token.headers['Authorization']  = localStorage.getItem('kpi-jwt-auth');
    this.axios.get(this.$url+'/get/totals/'+this.$route.params.id, this.token).then(res => {
      if(typeof res.data == 'object') {
        this.ktotals       = res.data.k_mark
        this.prev_totals_k = res.data.k_mark
        this.stotals       = res.data.s_mark
        this.prev_totals_s = res.data.s_mark
      } 
    })
  }
}
</script>

<style scoped>
.block { 
  width: 50px;
  height: 50px;
}
h6{
  width: 200px;
  margin: 0 auto;
  text-align: left
}
.card .list-group-item{
  padding: 10px; 
}
.card-body{
  padding: 0px;
}
.container {
  padding: 30px;
  width: 100%;
  margin: 0 auto;
}
textarea {
    padding: 2px;
    width: 100%!important;
    border: 1px solid rgb(255, 0, 0);
}
input{
  display: inline;
    padding: 2px;
    margin-left:5px;
    width: 50px!important;
    border: 1 solid rgb(151, 149, 149);
}
.editable-table [type="text"] {
  background: none;
  border: none;
  display: block;
  width: 100%;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: white !important;
}
.output {
  white-space: normal;
}
.table th, .table td{
    padding: 2px !important;
    border: 1px solid #dee2e6 !important

}
.myinput{
  /* max-width: ; */
  /* height: */
}
.nav-pills.nav-link.active,.nav-pills.show >.nav-link{
  background-color: #B0BEC5!important;
  color:white!important
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: #B0BEC5!important;
  color:white!important
}
.nav-item{
    background-color: #B0BEC5!important;
  color:white!important
}
</style>