<template>
  <div>
    <d-container>
      <d-row>
          <d-col>
              <d-form-select v-model="selectedPeriod" :options="period_options"  style="max-width:170px"/>
          </d-col>
          <!-- <d-col>
              <downloadexcel :data="json_data" :fields="json_fields">
                  <d-btn style="float:right">Скачать Excel файл</d-btn>
              </downloadexcel>
          </d-col> -->
      </d-row>
  </d-container>
    <template v-for="(employee,index) in employees">
        <div v-if="employee.marks[0]" :key="index+3000">{{employee.name}} {{employee.surname}}</div>
        <table v-if="employee.marks[0]" border="1" style="width:99%!important;margin:0 auto;
          overflow-x:auto;width:100%;margin-bottom:23px;" :key="index">
          <tr v-if="employee.marks[0]" >
            <th style="width:20px!important">№</th>
            <th v-for="k in employee.marks[0].k_mark" :key="k.name" style="width:100px!important">{{k.name}}</th>
            <th v-for="(s, i) in employee.marks[0].s_mark" style="width:100px!important" :key="i">{{s.name}}</th>
            <th style="width:50px!important">{{$t('total')}}</th>
          </tr>
          <tr></tr>
          <tr v-for="(itm, main_ind) in employee.marks"  :key="main_ind+2000">
            <td>{{main_ind+1}}</td>
            <td v-for="(m, index2) in itm.k_mark" :id="'td_k_'+m.total+index2+main_ind+index"  :key="index2+3000">
              <span :class="{'bold': m.comment}" v-if="m.total || m.total==0">{{m.total.toFixed(2)}}</span>
              <d-tooltip :target="'#td_k_'+m.total+index2+main_ind+index">
                {{m.comment}}
              </d-tooltip>
            </td>
            <td v-for="(m2, index3) in itm.s_mark" :id="'td_s_'+m2.total+index3+main_ind+index" :key="index3+4000">
              <span :class="{'bold': m2.comment}" v-if="m2.total || m2.total==0">{{m2.total.toFixed(2)}}</span>
              <d-tooltip :target="'#td_s_'+m2.total+index3+main_ind+index">
                {{m2.comment}}
              </d-tooltip>
            </td>
            <td>{{getSum(itm.k_mark,itm.s_mark)}}</td>
          </tr>
          <tr v-if="employee.total">
            <td>{{$t('totals')}}</td>
            <td v-for="(m, ind) in employee.total.k_mark" :id="'td_total_k'+ind+index"  :key="ind+5000">
              <span :class="{'bold': m.comment}" v-if="m.total || m.total==0">{{m.total.toFixed(2)}}</span>
              <d-tooltip :target="'#td_total_k'+ind+index">
                  {{m.comment}}
              </d-tooltip>
            </td>
            <td v-for="(m2, ind1) in employee.total.s_mark" :id="'td_total_s'+ind1+index" :key="ind1+6000">
             <span :class="{'bold': m2.comment}" v-if="m2.total || m2.total==0"> {{m2.total.toFixed(2)}} </span>
              <d-tooltip :target="'#td_total_s'+ind1+index">
                  {{m2.comment}}
              </d-tooltip>
            </td>
            <td>{{getSum(employee.total.k_mark,employee.total.s_mark)}}</td>
          </tr>
        </table>
    </template>  
  </div>
</template>
<script>
import downloadexcel from 'vue-json-excel'
export default {
  props: {
    // employees: Array
  },
  components: {
    downloadexcel
  },
  data(){
    return {
      period: 2,
      year: new Date().getFullYear()-1,
      user:{},
      token: {headers: {}},
      marks:[],
      employees:[],
      selectedPeriod: {}
    }
  },
computed:{
  period_options(){
    let arr = []
    let thisyear = new Date().getFullYear()
    for(let i=2019;i<thisyear+2;++i){
      arr.push({value: {period: 1, year: i}, text: i+` (1-${this.$t('period')})`})
      arr.push({value: {period: 2, year: i}, text: i+` (2-${this.$t('period')})`})
    }
    return arr;
  },
    totalMark (){
    },
},
methods: {
  getSum(kmark, smark, max_key, max_support){
    let result = 0
    kmark.map(i => {
        result = result + i.total
      })
    smark.map(i => {
      result = result +i.total
    })
    return Math.round(result*100)/100;
  },
  getTotal(answers,c){
    let t = 0
    answers.map(i => {
      t = t+(parseInt(i)*c)
    })
    return Math.round(t*100)/100
  },
    async getMarks(){
      try{
      let marks  = await this.axios.get(this.$url+'/get/allmarks/'+this.year+'/'+this.period,{...this.token});
      this.employees =  marks.data
      } catch (err){
        console.log(err);
      }
    }
  },
  mounted (){
    this.user = JSON.parse(localStorage.getItem('kpi-jwt-user'));
    this.token.headers['Authorization']  = localStorage.getItem('kpi-jwt-auth');
    this.getMarks();
  },
  created(){
    let m = new Date().getMonth();
    if(m > 5){
      this.period = 1
      this.year   = this.year + 1;
    }
    this.selectedPeriod.period = this.period
    this.selectedPeriod.year = this.year
  },
  watch :{
    selectedPeriod: {
      handler: function(){
        this.period = this.selectedPeriod.period
        this.year = this.selectedPeriod.year
        this.getMarks()
      }
  }
  }
}
</script>

<style scoped>
.card .list-group-item{
  padding: 10px; 
}
.card-body{
  padding: 0px;
}
.container {
  padding: 30px;
  width: 100%;
  margin: 0 auto;
}
table{
    border: 1px solid #B0BEC5
}
th{
  padding:4px;
  border: 1px solid gray;
  background-color:  #B0BEC5
}
.bold {
  font-weight: 600;
}
</style>