<template>
  <div class="container" style="margin-top:0px;">
      <h2>{{$t('employees')}}</h2><br>
        <d-btn v-d-toggle.my-collapse outline pill variant="primary" v-if="!employeesLoading && user.is_admin === 1">+ Сотрудник</d-btn><br>
        <d-collapse id="my-collapse">
            <br>
            <div  style="max-width:600px;margin:0 auto;">
                <div class="form-group">
                    <d-input-group  prepend="Права доступа">
                    <d-form-select v-model="formData.is_admin" style="height: 48px;" :options="account_options"/><br><br>
                    </d-input-group><br>
                    <d-input id="f2_Email" class="mb-2 mr-sm-2 mb-sm-0" v-model="formData.name"  placeholder="Имя"/><br>
                    <d-input  class="mb-2 mr-sm-2 mb-sm-0" v-model="formData.surname" placeholder="Фамилия"/><br>
                    <d-input-group  prepend="Подразделение">
                        <d-form-select v-model="formData.department" style="height: 48px;" :options="options"/><br><br>
                    </d-input-group><br>
                    <d-input-group  prepend="Отдел/филиал" v-if="formData.department.branches">
                    <d-form-select v-model="formData.department.branch" style="height: 48px;" :options="d_branches" /><br><br>
                    </d-input-group><br>
                    <d-input-group  prepend="Макс. за ключевые компетенции">
                    <d-form-select v-model="formData.max_key" style="height: 48px;" :options="max_options_key"/><br><br>
                    </d-input-group><br>
                    <d-input-group  prepend="Макс. за поддерживающие компетенции">
                    <d-form-select v-model="formData.max_support" style="height: 48px;" :options="max_options_support"/><br><br>
                    </d-input-group><br>
                    <d-input  class="mb-2 mr-sm-2 mb-sm-0" v-model="formData.grade" placeholder="Позиционный уровень сотрудника" /><br>
                    <d-input  class="mb-2 mr-sm-2 mb-sm-0" v-model="formData.role"   placeholder="Должность" /><br>
                    <d-input-group  prepend="Выбор подразделения руководителя">
                        <d-form-select v-model="formData.manager_company" style="height: 48px;"
                        :options="options"/><br><br>
                    </d-input-group><br>
                    <multiselect v-model="managerValue"
                    :options="managerOptions" :custom-label="managerLabel"
                    placeholder="Выбор руководителя" label="name" track-by="_id" 
                    ></multiselect><br>
                    <vue-multi-select
                    placeholder = "Ключевые компетенции"
                    v-model="form_surveys_k"
                    :options="survey_options_k"
                    option-label='name'
                    ></vue-multi-select><br>
                    <vue-multi-select
                    placeholder = "Поддерживающие компетенции"
                    v-model="form_surveys_s"
                    :options="survey_options_s"
                    labelName="name"
                    option-label='name'
                    ></vue-multi-select><br>
                    <d-input id="f2_Email" class="mb-2 mr-sm-2 mb-sm-0" v-model="formData.login"  placeholder="Адрес почты сотрудника"/><br>
                    <!-- <d-input id="f2_Email" class="mb-2 mr-sm-2 mb-sm-0" v-model="formData.login"  placeholder="Логин"/><br> -->
                    <d-input id="password" class="mb-2 mr-sm-2 mb-sm-0" v-model="formData.password"  placeholder="Пароль"/><br>
                    <div v-if="!image">
                        <center>Загрузить фото</center>
                        <label for="file-input">
                            <img style="width: 80px;cursor:pointer" src="https://goo.gl/pB9rpQ"/>
                        </label>
                        <input id="file-input" type="file" ref="file" @change="onFileChange">
                    </div>
                    <div v-else>
                        <d-btn size="sm" theme="danger" @click="removeImage" style="color:white">Убрать фото</d-btn>
                        <img :src="image" style="max-width:50%;"/><br><br>
                    <!-- <d-btn  pill theme="success" @click="changeAva()">Сохранить </d-btn> -->
                    </div>
                    <!-- <d-checkbox v-for='(item, index) in options' :key='index' v-model="formData.companies" :value="item.value">{{item.text}}</d-checkbox> -->
                </div>
                    <d-button @click="postEmployee()" v-d-toggle.my-collapse>Cоздать</d-button>
            </div>
        </d-collapse><br>
        <d-modal v-if="showModalDelete" @close="handleCloseModal" style="text-align:center">
            <d-modal-header>
                <d-modal-title>Удалить сотрудника?</d-modal-title>
            </d-modal-header>
            <span><h4>{{deleteUser.name}} {{deleteUser.surname}}</h4></span>
            <span style="margin:10px;">
                <d-button style="width:100px;color:white" theme="danger" @click="deleteEmployee">Да</d-button>
                <d-button style="width:100px;color:white" theme="secondary" @click="handleCloseModal">Отмена</d-button>
            </span>
        </d-modal>
        <div v-if="!employeesLoading">
            <span v-if="user.is_admin != 1">
                <span v-for="(item, index) in this.employees" :key="index">
                    <router-link :to="'/employee/'+item._id+'/kpi'" v-if="!item.hr && item._id !== user._id">
                        <d-list-group-item >
                        <img :src="$imageurl+item.img" style="width:25px;
                            float:left;margin-left:-10px;margin-right:10px">
                            <div class="truncate">{{item.name}} {{item.surname}}</div>
                        </d-list-group-item>
                    </router-link>
                </span><br>
            </span>
            <span v-else>
                <span v-for="(item, index) in options" :key="index">
                    <br><h4>{{item.text}}</h4><br>
                    <span v-for="(person, index1) in employees" :key="index1">
                        <d-list-group-item  v-if=" (person.department) && item.value.id == person.department.id">
                            <img :src="$imageurl+person.img" style="width:25px;
                            float:left;margin-left:-10px;margin-right:10px"/>
                            <router-link :to="'/employee/'+person._id+'/kpi'">
                                <b><div class="truncate"> {{person.name}} {{person.surname}} </div></b>
                            </router-link>
                            <d-button theme="danger" size="sm" class="btn-delete" @click="showModalDelete=true;deleteUser=person">
                                Удалить
                            </d-button>
                        </d-list-group-item>
                    </span>
                </span><br>
            </span>
        </div> 
        <div v-else>
            <Loader style="width: 100px;" />
            <br>
            <br>
        </div>
  </div>
</template>
<script>
import VueMultiSelect from "vue-simple-multi-select";
import Multiselect from 'vue-multiselect'
export default {
    props:{
        employee: Object,
        employees: Array,
        employeesLoading: Boolean
    },
    components: {
        VueMultiSelect,
        Multiselect
    },
    data(){
        return{
            loading: true,
            label: 'Подождите',
            form_surveys_s: [],
            form_surveys_k: [],
            user:null,
            managerValue: null,
            search: '',
            image: '',
            file: '',
            surveys:[],
            showModalDelete: false,
            searchForm: false,
            searchtype: '',
            deleteUser: '',
            formData:{
                department:{id: null}
            },
            survey_types: [
                {value: 'Поддерживающяя', text:'Поддерживающие'},
                {value: 'Ключевые', text:'Ключевые'},
            ],
            searchoptions: [
                {value: 'ФИО', text: 'ФИО'},
            ],
            max_options_key: [
                {value: 0.33, text: '15'},
                {value: 0.44, text: '20'},
            ],
            max_options_support: [
                {value: 0.22, text: '10'},
                {value: 0.33, text: '15'},
            ],
            companies:  [],
            token:{headers: {}},
            jwt: localStorage.getItem('kpi-jwt-auth')
        }
    },
    computed:{
        account_options() { 
            if(this.user.is_admin === 1) {
                return [
                {value: 1, text: 'Администратор'},
                {value: 2, text: 'Руководитель'},
                {value: 0, text: 'Сотрудник'}
              ]
            } else {
                return [
                    {value: 2, text: 'Руководитель'},
                    {value: 0, text: 'Сотрудник'}  
                ]
            }
        },
        options(){
            let arr = [];
            if(this.user.is_admin === 1) {
                this.companies.map(item => {
                    arr.push({
                        value: {id: item.id, name: item.name, branches: item.branches},
                        text: item.name,
                        branches: item.branches
                    })
                })
            } else {
                arr.push({
                    value: {id: this.user.department.id, name: this.user.department.name, branches: this.user.department.branches},
                    text: this.user.department.name,
                    branches: this.user.department.branches
                })
            }
            return arr;
        },
        d_branches(){
            let arr = []
            if(this.formData.department){
                this.formData.department.branches.map(item => {
                    arr.push({
                        value: item.name,
                        text: item.name
                    })
                })
            }
            return arr;
        },
        survey_options_s(){
            let arr = [];
            if(this.surveys)
            {
                this.surveys.map((item) => {
                    item.type = this.survey_types[0].text
                    // arr.push(item.name); 
                  arr.push({type: this.survey_types[0].text, name: item.name}); 
                });
            }
            return arr;
        },
    survey_options_k(){
          let arr = [];
          if(this.surveys)
          {
              this.surveys.map((item) => {
                  item.type = this.survey_types[1].text
                  arr.push({type: this.survey_types[1].text, name: item.name}); 
              });
          }
          return arr;
      },
    managerOptions(){
        let arr = [];
        if(this.employees){
            this.employees.map((item,index) => {
                if(item.department && this.formData.manager_company){
                    if(item.department.id == this.formData.manager_company.id) arr.push(item)
                }
            })
            if(this.user.is_admin === 2) {
                arr.push({
                    _id: this.user._id,
                    name: this.user.name,
                    surname: this.user.surname,
                    rank: this.user.rank
                })
            }
        }   
            return arr;
        }
    },
        methods:{
              onFileChange(e) {
            var files = e.target.files || e.dataTransfer.files;
            this.file = this.$refs.file.files[0];
            if (!files.length)
                return;
            this.createImage(files[0]);
            },
            createImage(file) {
            var image = new Image();
            var reader = new FileReader();
            var vm = this;
            reader.onload = (e) => {
                vm.image = e.target.result;
            };
            reader.readAsDataURL(file);
            },
            removeImage: function (e) {
            this.image = '';
            },
            async getSurveys(){
                try{
                    this.surveys  = await this.axios.get(this.$url+'/get/surveys',{...this.token});
                    this.surveys  = this.surveys.data.reverse();
                }catch (err){
                    console.log(err);
                }
                },
            required (){
                if(this.formData.name && this.formData.surname && this.formData.is_admin != undefined && this.formData.department
                && this.formData.grade && this.formData.max_support && this.formData.max_key 
                && this.formData.role && this.formData.surveys && this.formData.login && this.formData.password){
                    return true
                } else {return false}
            },
            managerLabel ({ name,surname}) {
               return `${name} ${surname}`
            },
            onSelect(){
                this.formData.manager = {
                    id: this.managerValue._id,
                    name: this.managerValue.name,
                    surname: this.managerValue.surname,
                    rank: this.managerValue.rank
                };
            },
            async deleteEmployee(){
                try {
                    let res = await this.axios.post(this.$url+'/delete/employee/'+this.deleteUser._id, {}, this.token);
                    console.log(res);
                    this.showModalDelete = false;
                    this.$emit('done')
                } catch (err){
                    console.log(err)
                    alert('Ошибка! Попробуйте заново!');
                }
            },
            async postEmployee() {
                try{
                    if(this.managerValue){
                        this.formData.manager = {
                            id: this.managerValue._id,
                            name: this.managerValue.name,
                            surname: this.managerValue.surname,
                            rank: this.managerValue.rank
                        }
                    }
                    this.formData.surveys = []
                    await this.form_surveys_k.map(item =>{
                        this.formData.surveys.push(item);
                    })
                    await this.form_surveys_s.map(item =>{
                        this.formData.surveys.push(item);
                    })
                    if(!this.required()){
                        alert('Пожалуйста, заполните все поля')
                        return 0;
                    }
                    let formData = new FormData();
                    formData.append('avatar', this.file);
                    formData.append('formData', JSON.stringify(this.formData));
                    let res = await this.axios.post(this.$url+'/post/employee', formData, {
                        headers: {
                        'Content-Type': 'multipart/form-data',
                        ...this.token.headers
                        }
                    })
                    alert('Новый сотрудник добавлен!');
                    this.$emit('done');
                } catch(err) {
                    console.log(err);
                    alert('Произошла ошибка! Попробуйте заново')
                }
            },
            showSearchForm(){
                this.searchForm = true;
            },
            nameWithLang ({ name, language }) {
                return `${name} — [${language}]`
            },
            handleCloseSearch(){
                this.searchForm = false;
            },
            handleCloseModal(){
                this.showModal = false;
                this.showModalDelete = false;
                this.showModalProfile = false;
            },
            async getCompanies(){
                let res = await this.axios.get(this.$url+'/get/companies',this.token);
                this.companies = res.data
            },
        },
        created(){
            this.user = JSON.parse(localStorage.getItem('kpi-jwt-user'));
            this.token.headers['Authorization']  = localStorage.getItem('kpi-jwt-auth');
            this.getCompanies();
            this.getSurveys();
            // this.managerValue = this.user
        }
}
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scoped>
.btn-delete{
    color: white;
    float: right;
}
#file-input{
    display: none;
}
*{
    color:black;
    text-decoration: none;
}
.hover{
    margin-bottom: 10px;
}
.hover:hover{
  cursor: pointer;
  background-color: rgb(209, 204, 204);
}
@media(max-width: 400px){
    .list-group-item{
        padding: 10px;
        padding-left: 20px;
    }
    .truncate{
        width: 180px;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
</style>