<template>
    <div class="container" v-if="companies && companies[0].months">
        <!-- <d-button theme="light" style="float:left;margin-left:15px;" @click="refreshPeriod()">Обновить период</d-button><br><br> -->
        <d-container >
            <d-row style="padding:5px 0;">
                <d-col>Подразделение</d-col>
                <d-col>КПИ</d-col>
                <d-col>Оценка компетенций</d-col>
                <d-col>Срок факта для сотрудников</d-col>
                <d-col>Срок факта для руководителей</d-col>
                <d-col>Срок факта по месяцам</d-col>
            </d-row>
            <d-row style="border:0.2px solid grey;padding:5px 0;" v-for="(item, index) in companies" :key="index">
                <d-col>{{ item.name }}</d-col>
                <d-col><d-checkbox inline v-model="item.kpi" toggle   @change="changeKpi(item)"></d-checkbox> </d-col>
                <d-col><d-checkbox inline v-model="item.marking" toggle   @change="changeMarking(item)"></d-checkbox></d-col>
                <d-col><d-input type="number" v-model="item.fact_period" @change="changeCompany(item)"></d-input></d-col>
                <d-col><d-input type="number" v-model="item.fact_period_manager" @change="changeCompany(item)"></d-input></d-col>
                <d-col><d-btn :id="'popover-example-1'+index">Месяца</d-btn>
                    <d-popover :target="'popover-example-1'+index" container=".shards-demo--example--popover-01">
                        <template slot="title">
                            Укажите месяца чтобы открыть ячейку факта
                        </template>
                        <span v-for="m in allMonth" :key="m.value">
                            <d-checkbox 
                                :checked="item.months[m.value]"
                                @change="setMonth(index, m.value)"
                            >
                                {{m.text}}
                            </d-checkbox>
                        </span>
                    </d-popover>
                </d-col>
            </d-row><br><br>
        </d-container>
    </div>
</template>
<script>
export default {
    data(){
        return {
            typing : [],
            companies: [
                {marking:true,kpi: true, name: 'HUMO Partners',period:1},
                {marking:true,kpi: true, name: 'Финансовый департамент',period:1},
                {marking:true,kpi: true, name: 'HR-департамент',period:1},
                {marking:true,kpi: true, name: 'УКТД_Отдел поставки оборудования',period:1},
                {marking:true,kpi: true, name: 'УКТД_Отдел строительной техники и оборудования',period:1},
                {marking:true,kpi: true, name: 'УКТД_Отдел маркетинга и продвижения',period:1},
                {marking:true,kpi: true, name: 'УКТД_Китайский офис',period:1},
                {marking:true,kpi: true, name: 'CLG',period:1},
                {marking:true,kpi: true, name: 'International Business Travel',period:1},
                {marking:true,kpi: true, name: 'GroundZero',period:1},
                {marking:true,kpi: true, name: 'ИБЦ ТехноПлаза',period:1},
                {marking:true,kpi: true, name: 'MediTech',period:1}
            ],
            period:1,
            allMonth: [
            {value: 0, text: 'Январь'},
            {value: 1, text: 'Февраль'},
            {value: 2, text: 'Март'},
            {value: 3, text: 'Апрель'},
            {value: 4, text: 'Май'},
            {value: 5, text: 'Июнь'},
            {value: 6, text: 'Июль'},
            {value: 7, text: 'Август'},
            {value: 8, text: 'Сентябрь'},
            {value: 9, text: 'Октябрь'},
            {value: 10, text: 'Ноябрь'},
            {value: 11, text: 'Декабрь'},
            ],
            token:{headers: {}},
            jwt: localStorage.getItem('kpi-jwt-auth')
        }
    },
    computed: { 
    },
    methods: {
        setMonth(i, v){
            if(this.companies[i].months[v]) this.companies[i].months[v] = false;
            else this.companies[i].months[v] = true;
            this.changeCompany(this.companies[i])
        },
        async changeKpi(item){
            try {
                setTimeout(async () => {
                    let res = await this.axios.post(this.$url+'/edit/company/'+item._id, 
                    {kpi:item.kpi},{...this.token})
                    this.getPermissions()
                },500)
            } catch(err){
                console.log(err)
                alert('Произошла ошибка, попробуйте заново');
            }
        },
        async changeCompany(item){
            try {
                    let res = await this.axios.post(this.$url+'/edit/company/'+item._id, 
                    {...item},{...this.token})
                    this.getPermissions()
            } catch(err){
                console.log(err)
                alert('Произошла ошибка, попробуйте заново');
            }
        },
        async changeMarking(item){
            try{
                setTimeout(async () => {
                    let res = await this.axios.post(this.$url+'/edit/company/'+item._id, 
                    {marking: item.marking},{...this.token} )
                    this.getPermissions();
                },500)
            } catch(err){
                console.log(err)
                alert('Произошла ошибка, попробуйте заново');
            }
        },
        async getPermissions(){
            try{    
                let res = await this.axios.get(this.$url+'/get/companies', {...this.token} )
                this.companies = res.data;
                this.companies = res.data.map(c => { 
                    if(!c.months) c.months = []
                    return c;
                })
            } catch(err){
                console.log(err)
            }
        },
    },
    created(){
        this.getPermissions();
         this.token.headers['Authorization']  = localStorage.getItem('kpi-jwt-auth');
        let jwt = localStorage.getItem('kpi-jwt-auth');
    },
    watch:{
    }
}
</script>
<style scoped>
*{
    color:black;
    text-decoration: none;
}
.ch-r{
right:160px;position:absolute; 
}
.ch-l{
    right:20px;position:absolute;
}
@media(max-width: 530px){
 .ch-r{
right:50px;position:absolute; 
}
.ch-l{
    right:-10px;position:absolute;
}   
.container{
    padding:1px
}
}
</style>