<template>
    <div>
    <d-btn v-d-toggle.new-survey outline variant="primary">{{$t('competencies_add')}}</d-btn><br><br>
            <d-collapse id="new-survey">
                <div class="p-3 mt-3 border rounded">
                <h5>Новая компетенция</h5>
                <d-input-group prepend="Имя" class="mb-2">
                    <d-input v-model="surveyForm.name" />
                </d-input-group>
                <d-input-group prepend="Имя | Уз" class="mb-2">
                    <d-input v-model="surveyForm.name2" />
                </d-input-group>
                <d-input-group prepend="Описание" class="mb-2">
                    <d-input v-model="surveyForm.desc" />
                </d-input-group>
                <d-input-group prepend="Описание | Уз" class="mb-2">
                    <d-input v-model="surveyForm.desc2" />
                </d-input-group>
                <span  v-for="item in 5" :key="item">
                    <d-input-group :prepend="'Вопрос '+item" class="mb-2">
                        <d-input v-model="surveyForm.questions[item-1]" />
                    </d-input-group>
                    <d-input-group :prepend="'Вопрос '+item+' | Уз'" class="mb-2">
                        <d-input v-model="surveyForm.questions2[item-1]" />
                    </d-input-group>
                </span>
                <d-button theme="primary" v-d-toggle.new-survey @click="postSurvey()">{{$t('create')}}</d-button>
                </div>
            </d-collapse>
        <d-list-group>
            <d-list-group-item v-for="(q,index) in surveys" :key="index" style="text-align: left">
            <d-button size="sm" style="float:right;margin-left:10px;" theme="light" @click="openSurveyModal(index)">{{$t('edit')}}</d-button>
            <d-button size="sm" style="float:right" theme="danger" @click="deleteSurvey(index)">Удалить</d-button>
            <b>{{q.name}}</b><br>
            <b v-if="q.name2">(Узб.) {{q.name2}}</b><br>
            <i>{{q.desc}}</i><br><br>
            <i v-if="q.desc2">(Узб.) {{q.desc2}}</i><br><br>
            <ul>
                <li v-for="(item, index) in q.questions" style="width:100%;display:block" :key="index">
                <div>
                    <b>{{index+1}}. </b> {{item}}<br>
                </div><br>
                </li>
                <li v-for="(item, index) in q.questions2" style="width:100%;display:block" :key="`uz-${index}`">
                <div>
                    <b>{{index+1}}.(Узб.) </b> {{item}}<br>
                </div><br>
                </li>
            </ul>
        </d-list-group-item>
        </d-list-group>
        <d-modal v-if="showModalSurvey" size="sm" @close="showModalSurvey = false">
            <d-modal-header>
                <d-modal-title>Изменить компетенцию</d-modal-title>
            </d-modal-header>
            <d-modal-body>
            <div class="p-3 mt-3 border rounded">
                <d-input-group prepend="Имя" class="mb-2">
                    <d-input v-model="surveys[surveyIndex].name" />
                </d-input-group>
                <d-input-group prepend="Имя | Уз" class="mb-2">
                    <d-input v-model="surveys[surveyIndex].name2" />
                </d-input-group>
                <d-input-group prepend="Описание" class="mb-2">
                <d-input v-model="surveys[surveyIndex].desc" />
                </d-input-group>
                <d-input-group prepend="Описание | Уз" class="mb-2">
                    <d-input v-model="surveys[surveyIndex].desc2" />
                </d-input-group>
                <span  v-for="item in 5" :key="item">
                    <d-input-group :prepend="'Вопрос '+item" class="mb-2">
                        <d-input v-model="surveys[surveyIndex].questions[item-1]" />
                    </d-input-group>
                    <d-input-group :prepend="'Вопрос '+item+' | Уз'" class="mb-2">
                        <d-input v-model="surveys[surveyIndex].questions2[item-1]" />
                    </d-input-group>
                </span>
                <d-button theme="primary" @click="editSurvey()">Изменить</d-button>
            </div>
            </d-modal-body>
        </d-modal>
    </div>
</template>

<script>
export default {
    props: {
        token: Object
    },
    data() {
        return {
            surveys: [],
            showModalSurvey: false,
            surveyForm: {
                questions: [],
                questions2: [],
            },
        }
    },
    methods : {
        openSurveyModal(index){
            this.showModalSurvey = true;
            this.surveyIndex = index;
        },
        async getSurveys(){
            try{
                this.surveys  = await this.axios.get(this.$url+'/get/surveys',{...this.token});
                this.surveys  = this.surveys.data.reverse();
                this.surveys.map(item => {
                    if(!item.questions2) item.questions2 = [];
                })
            }catch (err){
                console.log(err);
            }
        },
        async postSurvey(){
            try {
                let res = await this.axios.post(this.$url+'/post/survey',{...this.surveyForm}, {...this.token});
                this.getSurveys();
                alert('Добавлено');
            } catch(err) {
                console.log(err);
                alert('Возникла ошибка, попробуйте заново');
            }
        },
        async editSurvey(){
            try {
                let res = await this.axios.post(this.$url+'/edit/survey/'+this.surveys[this.surveyIndex]._id,
                {...this.surveys[this.surveyIndex]}, {...this.token});
                alert('Изменено');
            } catch(err) {
                console.log(err);
                alert('Возникла ошибка, попробуйте заново');
            }
    },
    async deleteSurvey(num){
        try {
            let res = await this.axios.post(this.$url+'/delete/survey/'+this.surveys[num]._id, {},{...this.token});
            this.surveys.splice(num, 1);
            alert('Удалено');
        } catch(err) {
            console.log(err);
            alert('Возникла ошибка, попробуйте заново');
        }
        },
    },
    mounted(){
        this.getSurveys()
    }
}
</script>

<style>

</style>
