<template>
    <div>
        <d-container>
            <d-row>
                <d-col>
                    <d-form-select v-model="selectedPeriod" :options="period_options"  style="max-width:170px"/>
                </d-col>
                <d-col>
                    <downloadexcel :data="json_data" :fields="json_fields">
                        <d-btn style="float:right">{{$t('download_excel')}}</d-btn>
                    </downloadexcel>
                </d-col>
            </d-row>
        </d-container>

    <br><br>
        <div v-for="(item, ind) in totals" :key="ind" style="margin-bottom:30px;overflow-x:auto;width:100%;padding:5px;" >
            <b v-if="item.people.length != 0">{{item.text}}</b>
            <br v-if="item.people.length != 0">
            <table border="1" v-if="item.people.length != 0" style="max-width:1400px;width:98%;margin:0 auto">
                <tr>
                    <th>№</th>
                    <th>{{ $t('name')}} </th>
                    <th>{{ $t('kpi_total')}}  </th>
                    <th>{{ $t('competency_total')}}  </th>
                    <th>{{ $t('kpi_bonus')}}  </th>
                    <th>{{ $t('competency_bonus')}}  </th>
                    <th>{{ $t('total')}} </th>
                </tr>
                <tr v-for="(itm, index) in item.people" :key="index">
                    <td>{{index+1}}</td>
                    <td style="width: 300px;">{{itm.name}} {{itm.surname}}</td>
                    <td>{{itm.kpi.toFixed(2)}}</td>
                    <td>
                       <template v-if="itm.mark">
                         {{ (itm.mark).toFixed(2) }}
                       </template>
                       <template v-else>
                           0
                       </template>
                    </td>
                    <td>{{((itm.kpi/100)*35).toFixed(2) }}</td>
                    <td>{{(itm.mark/10).toFixed(2)}}</td>
                    <td>{{
                        (Math.round(((itm.kpi/100)*35)*100)/100+
                        Math.round((itm.mark/10)*100)/100).toFixed(2)
                    }}</td>
                </tr>
            </table>
        </div>
        <br>
    </div>
</template>

<script>
import downloadexcel from 'vue-json-excel'
export default {
    props:{
        token: Object
    },
    components: {
        downloadexcel
    },
    data(){
        return{
            period:2,
            year: new Date().getFullYear()-1,
            selectedPeriod:{},
            json_fields: {
                '№':'n',
                'ФИО':'name',
                'Итог по КПИ':'kpi',
                'Итог по компетенциям':'mark',
                'Надбавки за КПИ':'kpi_bonus',
                'Надбавки за компетенции':'mark_bonus',
                'Итого':'total',
            },
            totals: [],
            options: [
                {value:{id: '44c14bf18ab',  name: 'HUMO Partners'}, text:'HUMO Partners'},
                {value:{id: 'aysbfkajkjn',  name: 'Финансовый департамент'}, text:'Финансовый департамент'},
                {value:{id: 'asdgasgeg44',  name: 'HR-департамент'}, text:'HR-департамент'},
                {value:{id:'c7d90db000',    name: 'УКТД_Отдел поставки оборудования'}, text:'УКТД_Отдел поставки оборудования'},
                {value:{id:'c7afisudbiusd', name: 'УКТД_Отдел строительной техники и оборудования'}, text:'УКТД_Отдел строительной техники и оборудования'},
                {value:{id:'c7932n493n8938',name: 'УКТД_Отдел маркетинга и продвижения'}, text:'УКТД_Отдел маркетинга и продвижения'},
                {value:{id:'c7akkkkfkfkjaf',name: 'УКТД_Китайский офис'}, text:'УКТД_Китайский офис'},
                {value:{id:'df43f03e4',     name: 'CLG'}, text:'CLG'},
                {value:{id:'1asdfe96sdd',   name: 'International Business Travel'}, text:'International Business Travel'},
                {value:{id:'37ub398hoiwe',  name: 'GroundZero'}, text:'GroundZero'},
                {value:{id:'sdsafasfasf',   name: 'ИБЦ ТехноПлаза'}, text:'ИБЦ ТехноПлаза'},
                {value:{id:'837eiujiue88',  name: 'MediTech'}, text:'MediTech'},
            ],
        }
    },
    methods: {
        async getTotals (){
            let res = await this.axios.get(this.$url+'/get/total/'+this.year+'/'+this.period,this.token)
            this.totals = res.data
            this.totals.map(item =>  {
                item.people.sort((a,b) => { return (b.rank - a.rank) });
            })
        }
    },
    computed:{
        json_data () {
            let arr = []
            let n =0;
            this.totals.map(t => {
                t.people.map(p => {
                    n = n +1;
                    arr.push({
                        n: n,
                        name: `${p.name} ${p.surname}`,
                        kpi: (Math.round(p.kpi*100)/100).toString().replace(".",","),
                        mark: (Math.round((p.mark/10)*100)/100).toString().replace(".",","),
                        kpi_bonus: (Math.round(((p.kpi/100)*35)*100)/100).toString().replace(".",","),
                        mark_bonus: (Math.round(((p.mark/100)*10)*100)/100).toString().replace(".",","),
                        total: ((Math.round(((p.kpi/100)*35)*100)/100+Math.round((p.mark/10)*100)/100).toFixed(2)).toString().replace(".",",")
                    })
                })
            })
            return arr;
        },
        period_options(){
            let arr = []
            let thisyear = new Date().getFullYear()
            for(let i=2019;i<thisyear+2;++i){
            arr.push({value: {period: 1, year: i}, text: i+` (1-${this.$t('period')})`})
            arr.push({value: {period: 2, year: i}, text: i+` (2-${this.$t('period')})`})
            }
            return arr;
        },
    },
    created(){
        let m = new Date().getMonth();
        if(m > 5) {
            this.period = 1;
            this.year = this.year+1;
        }
        this.selectedPeriod.period = this.period
        this.selectedPeriod.year = this.year
    },
    mounted(){
        this.getTotals()
    },
    watch :{
        selectedPeriod: {
        handler: function(){
            this.period = this.selectedPeriod.period
            this.year = this.selectedPeriod.year
            this.getTotals()
        }
    }
}
}
</script>

<style scoped>
table{
    border: 1px solid #B0BEC5
}
th{
    padding:4px;
    border: 1px solid gray;
    background-color:  #B0BEC5
}
</style>
