<template>
    <div>
    <d-card v-if="employee.name != undefined" >
        <d-card-body :class="classList" :title="employee.name+' '+employee.surname" :subtitle="employee.role">
            <div :class="cardClasses">
                <img src="@/assets/pen.svg" class="pen-icon" @click="$emit('open')"
                    v-if="user.is_admin == 1" />
                <span v-if="employee.department">
                    <h6>{{employee.department.name}}</h6>
                </span>
                <span v-if="employee.manager">
                {{$t('manager')}}: {{employee.manager.name}} {{employee.manager.surname}}<br></span>
                {{$t('position_level')}}: {{employee.grade}}<br><br>
            </div>
            <router-link to="/" class="back-btn">
                <img src="@/assets/right-arrow.svg" class="arrow">{{$t("back")}}</router-link>
            <d-img :src="$imageurl+employee.img" fluid class="img" />
            <center>
                <img src="@/assets/right-arrow.svg" :class="arrowClasses" @click="expandCard()" />
            </center>
        </d-card-body>
    </d-card>
    <center v-else style="padding: 50px;">
        <Loader height="100"/>
    </center>
    </div>
</template>
<script>
export default {
    name: 'employee-card',
    props:{
        employee: Object,
        user: Object
    },
    data(){
        return {
            expanded: false,
        }
    },
    computed:{
        classList(){
            return {
                'manager': (this.employee.is_admin === 2),
                'admin': (this.employee.is_admin === 1),
                'employee': (this.employee.is_admin === 0),
            }
        },
        cardClasses(){
            return {
                'expanded': this.expanded,
                'add-info': true
            }
        },
        arrowClasses(){
            return {
                'down-arrow': true,
                'up-arrow': !this.expanded
            }
        }
    },
    methods: {
        expandCard(){
            this.expanded = !this.expanded;
        }
    },
}
</script>
<style scoped>
.card-body{
  padding-bottom:0px;
  padding-top:10px;
  text-align:left!important;
  padding-left: 10px;
  margin: 5px;
  border:5px solid white;
  border-radius: 6px;
    transition: max-height 3s ease-in;
}
.admin{ 
  border-left-color: rgb(198, 198, 198)
}
.employee{
  border-left-color: rgb(144, 1, 167)
}
.manager{
  border-left-color: rgb(41, 49, 130)
}
.card-subtitle{
  width: 250px!important;
}
.back-btn {
    position:absolute;
    bottom:10px;
    color: #868e96!important;
    text-decoration:none
}
.img{
    position:absolute;
    right: 20px;
    top: 5px;
    width: 100px;
    height:100px;
    border-radius:50px;
}
.pen-icon{
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    float: right;
    margin-top: 40px;
    margin-right: 20px;
}
h6 {
    margin: 0px;
}
.arrow{
    height: 12px;
    margin-top: -3px;
    margin-right: 5px;
    transform: rotate(180deg)
}
.down-arrow{
    height: 20px;
    transform: rotate(270deg);
    margin-bottom: -10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
.expanded{
    max-height:300px!important; 
}
.up-arrow{
    transform: rotate(90deg);
    transition: all 0.5s ease;
}
.add-info{
    height:auto;
    max-height:0px; 
    overflow: hidden;
    transition:max-height 0.5s ease-out;
    transition:max-height 0.5s ease-in;
}
@media(max-width: 500px){
    .img{ 
        width: 70px;
        height: 70px;
    }
    .admin{
        padding-top: 0px;
    }
    .pen-icon{
        margin:0px;
        margin-bottom: 10px;
        left: 0px;
        top: 0px;
        float: none;
    }
}
</style>