  <template>
<div v-if="kpi" class="main-box">
  <div v-if="kpi.goals">
    <span>
      <Loader height="45"  width="45" style="position:absolute; left: 180px;margin-top:-10px;" v-if="loadingSave" />
    </span>
    <d-form-select v-model="selectedPeriod" :options="period_options"  style="margin-top:-10px;max-width:170px;float:left"/>
    <tableButtons :kpi="kpi" :report="report" :user="user" :user_id="user_id" :openKpi="openKpi" :factOpen="factOpen" :employee="employee" @editKpi="editKpi"/> 
    <div style="overflow-x:auto;width:100%;min-width:500px;">
      <table class="table table-striped editable-table " ref="tb" v-on:blur="onDelete = null">
      <thead ref="theader">
          <tr>
            <th v-for="(heading, index) in table.thead" :key="index" rowspan="2">
                {{heading}}
            </th>
            <th colspan="3" style="background-color:#78909C;" ref="select1">
              <d-select :options="monthLabel" v-model="selectedMonth" rowspan="3" />
            </th>
            <th rowspan="3" colspan="1">
              {{ $t('comments') }}
            </th>
            <th rowspan="3" colspan="1" v-if="report">
              {{$t('report_comments')}}
            </th>
          </tr>
          <tr>
            <th style="background-color:#78909C;">{{$t('plan')}}</th>
            <th style="background-color:#78909C;">{{$t('fact')}}</th>
            <th style="background-color:#78909C;">{{$t('marking')}} %</th>
          </tr>
        </thead>
        <tbody ref="tbody">
          <tr v-for="(goal, index1) in kpi.goals" :key="index1" @click="onDelete = index1">
            <td>{{index1+1}}
            </td>
              <td v-for="(value, index2) in goal"  :key="index2" :style="changeColor(index1,index2)">
                <textarea-autosize :style="changeColor(index1,index2)"
                  :disabled="report"
                    v-if="index2 != 'fact_value' && index2 != 'plan_value' &&
                    index2 != 'weight' && index2 != 'goal_achieved' 
                    && index2 != 'goal_mark' && index2 != 'months' && index2 != 'comment' && index2 != 'report_comment'"
                    v-model="goal[index2]"
                    :min-height="100"
                    :max-height="350"
                ></textarea-autosize>
                <textarea-autosize
                disabled 
                v-else-if="index2 != 'months' && index2 != 'weight' && index2 !== 'comment' && index2 !== 'report_comment'" type="number"
                  style="width:50px;" v-model="goal[index2]" />
                <input :style="changeColor(index1,index2)" v-if="index2 == 'weight'" style="width:50px;" type="number" v-model="goal[index2]" :disabled="report">
                <!-- plan -->
                <textarea-autosize :disabled="report" :style="changeColor(index1,index2)" v-else-if="index2 == 'months'"
                    v-model="goal.months[selectedMonth].plan"
                    :min-height="100"
                    :max-height="350"
                ></textarea-autosize>
                <!-- plan -->
              </td>
              <td :style="changeColor(index1,'months_fact')">
                <!-- plan -->
                <textarea-autosize
                  :disabled="factOpen"
                  v-model="goal.months[selectedMonth].fact"
                  :style="changeColor(index1,'months_fact')"
                  :min-height="100"
                  :max-height="350"
                ></textarea-autosize>
                <!-- plan -->
              </td>
              <td>
                <textarea-autosize disabled
                    v-model="goal.months[selectedMonth].achieved"
                    :min-height="10"
                    :max-height="350"
                ></textarea-autosize>
              </td>
              <td>
              <textarea-autosize 
                :disabled="report"
                :style="changeColor(index1,'comment')"
                v-model="kpi.comments[index1]"
                :min-height="10"
                :max-height="350"
              ></textarea-autosize>
              <d-button  v-if="onDelete == index1 && !report" theme="danger"
                 @click="deleteIndex=index1;modalShow=true" style="height:29px; width:100%!important;padding:0px;">X</d-button>
              </td>
              <td v-if="report">
                <textarea-autosize
                :disabled="factOpen"
                :style="changeColor(index1,'report_comment')"
                v-model="kpi.report_comments[index1]"
                :min-height="10"
                :max-height="350"
              ></textarea-autosize>
              </td>
          </tr>
          <tr>
            <td></td>
            <td>{{$t('totals')}}</td>
            <td></td>
            <td>{{totals.weight}}</td>
            <td></td>
            <td></td>
            <td>
            </td>
            <td></td>
            <td><span v-if="totals.goal_mark">{{totals.goal_mark.toFixed(2)}}</span></td>
            <td></td>
            <td></td>
            <td>
              <!-- {{totals.m_achieved}} -->
            </td>
            <td v-if="report"></td>
            <td></td>
          </tr>
        </tbody>
      </table>
      <table ref="fixedheader" class="abstract-table" style="width:100%"></table>
    </div>
    <d-button outline pill theme="success" @click="addGoal()" v-if="!report">{{$t('goal_add')}}</d-button><br><br>
  </div>
    <VerifyDelete 
      @close="modalShow=false"
      @delete="deleteGoal"
      :showModal="modalShow"
    >
    </VerifyDelete>
</div>
</template>
<script>
import VerifyDelete from '@/components/VerifyDelete.vue'
import tableButtons from '@/components/tableButtons.vue'
import goal_model from '@/models/kpi_goal.js'
export default {
  components: {
    VerifyDelete,
    tableButtons,
  },
    props:{
      openKpi: Boolean,
      fact_period: {
        default: 6,
        type: [Number, String]
      },
      fact_period_manager: {
        default: 16,
        type: [Number, String]
      },
      fact_months: {
        default: () => [],
        type: Array
      },
      jwt: String,
      kpi: Object,
      user_id: String,
      employee: Object,
      kpi_inital: Array,
    },
    computed:{
      table () {
        return {
              thead: [
                '№',
                this.$t('kpi'),
                this.$t('kpi_description'),
                this.$t('goal_weight'),
                this.$t('unit'),
                this.$t('plan_value'),
                this.$t('fact_value'),
                this.$t('marking'),
                this.$t('goal_reach'),
            ],
          }
        },
      factOpen(){
        if(this.fact_months[this.selectedMonth]) return false
        else return (this.selectedMonth === this.todayMonth && this.kpi.status === 'Отчет утвержден') ||  
          !(this.selectedMonth == this.todayMonth ||
              (
               this.selectedMonth == this.todayMonth - 1 && 
               (new Date().getDate() < this.fact_period && this.user.is_admin !== 1) ||
                (new Date().getDate() < this.fact_period_manager && (this.user.is_admin === 1 || this.user.is_admin === 2))
              )
          )
      },
      report(){
        if(this.openKpi) return false;
        else return this.kpi.status === 'Подтверждено' || this.kpi.status === 'Отправлен отчет' || this.kpi.status === 'Отправлен отчет на доработку' || this.kpi.status === 'Отчет утвержден';
      },
      monthLabel(){
        let arr = []
        if(this.selectedPeriod.period == 1){
          for(let i=0;i<6;i++){
            arr.push(this.allMonth[i])
          }           
        } else {
          for(let i=6;i<12;i++){
            arr.push(this.allMonth[i])
          }
        }
        return arr
      },
      period_options(){
        let arr = []
        let thisyear = new Date().getFullYear()
        for(let i=2019;i<thisyear+2;++i){
          arr.push({value: {period: 1, year: i}, text: i+` (1-${this.$t('inner_period')})`})
          arr.push({value: {period: 2, year: i}, text: i+` (2-${this.$t('inner_period')})`})
        }
        return arr;
      },
      thisMonth (){
        if(!this.openKpi){
          let arr = []
          var d = new Date();
          var m = d.getMonth();
          var date = d.getDate();
          let prev = m-1
          if(m == 0) prev=11 
          if(date < 6) arr.push(this.monthLabel[prev])
          arr.push(this.monthLabel[m])
          this.selectedMonth = m;
          return arr }
        else return this.monthLabel
      }
    },
  data(){
      return {
        onDelete: null,
        saveCounter:16,
        autoSave: null,
        kpi_edit: {},
        months:[],
        modalShow: false,
        deleteIndex: null,
        selectedPeriod: {},
        token: {headers : {
            'Authorization': localStorage.getItem('kpi-jwt-auth')
        }},
        loadingSave: false,
        selectedMonth: new Date().getMonth(),
        user:{},
        totals: {
          weight: 0  
        },
        todayMonth : new Date().getMonth(),
        allMonth: [
          {value: 0, text: this.$t('january') },
          {value: 1, text: this.$t('february') },
          {value: 2, text: this.$t('march') },
          {value: 3, text: this.$t('april') },
          {value: 4, text: this.$t('may') },
          {value: 5, text: this.$t('june') },
          {value: 6, text: this.$t('july') },
          {value: 7, text: this.$t('august') },
          {value: 8, text: this.$t('september') },
          {value: 9, text: this.$t('october') },
          {value: 10, text: this.$t('november') },
          {value: 11, text: this.$t('december') },
        ],
        goals: [],
      }
  },
   watch: {
     selectedPeriod: {
      handler: function(){
        if(this.selectedPeriod.period === 1) this.selectedMonth = 0
        else this.selectedMonth = 6
        this.$emit('getkpiperiod',this.selectedPeriod.year, this.selectedPeriod.period)
      }
     },
     selectedMonth: {
       handler: function() {
        this.totals.m_plan = 0
        this.totals.m_fact = 0
        this.kpi.goals.map(item => {
          this.totals.m_plan = this.totals.m_plan + parseFloat(item.months[this.selectedMonth].plan)
          this.totals.m_fact = this.totals.m_fact + parseFloat(item.months[this.selectedMonth].fact)
        })
      }
     },
    kpi:{
      handler: function (newg, oldg) {
        if(this.autoSave) clearTimeout(this.autoSave);
        let oldgoal = oldg;
        this.totals.weight = 0
        this.totals.m_plan = 0
        this.totals.m_fact = 0
        this.totals.goal_mark = 0
        this.totals.m_achieved = 0
        if(!newg.goals) newg.goals = [] 
        newg.goals.forEach((element,index) => {
          if(isNaN(element.months[this.selectedMonth].fact/element.months[this.selectedMonth].plan)) {
            element.months[this.selectedMonth].achieved = 0
          } else {
            element.months[this.selectedMonth].achieved = 
            (Math.round(element.months[this.selectedMonth].fact/element.months[this.selectedMonth].plan*100)/100)*100
          }
          let goal_value=0;
          if(isNaN(element.fact_value/element.plan_value)) element.goal_achieved = 0
          else {
            goal_value = element.fact_value/element.plan_value
            element.goal_achieved = goal_value.toFixed(2)
          }
          if(element.goal_achieved*element.weight > element.weight){
            element.goal_mark     = parseFloat(element.weight);
          } else {
            element.goal_mark     = Math.round(goal_value*element.weight * 100) / 100;
          }
          element.fact_value = this.sumFactValues(index);
          element.plan_value = this.sumPlanValues(index);
          this.totals.m_plan = this.totals.m_plan + element.months[this.selectedMonth].plan
          this.totals.m_fact = this.totals.m_fact + element.months[this.selectedMonth].fact
          let m_achieved = this.totals.m_achieved + element.months[this.selectedMonth].achieved;
          this.totals.m_achieved = Math.round(m_achieved);
          this.totals.weight        = this.totals.weight+Number(element.weight);
          this.totals.goal_achieved = this.totals.goal_achieved+Number(element.goal_achieved);
          this.totals.goal_mark     = this.totals.goal_mark+Number(element.goal_mark);
          this.totals.goal_mark.toFixed(2);
        });
        if(this.saveCounter <= 0) {
          let func = this.autosaving;
          if(!this.loadingSave) this.autoSave = setTimeout(function(){ func()}, 2000);
        }
      },
      deep: true // set to true to enable deep watch
    }
  },
  methods: {
    changeColor(goal, key){
      document.onkeydown =  (e)  => {
        var evtobj = window.event? event : e
        if (evtobj.keyCode == 83 && evtobj.ctrlKey) {
          e.preventDefault()
          this.editKpi('Сохранено')
        }
      }
      if(!this.kpi.colors) return ''
      if(!this.openKpi) return ''
      if(this.kpi.status == 'Подтверждено') return ''
      if(this.kpi.status == 'Отчет утвержден') return ''
      if(key != 'months'){
       if(this.kpi.colors[goal]) if(this.kpi.colors[goal][key]) return 'border:2px solid #E57373;background-color:#E57373;color:white' 
      } else if(key == 'months'){
        if(!this.kpi.colors[goal].months) this.kpi.colors[goal].months = []
        if(!this.kpi.colors[goal].months[this.selectedMonth]) this.kpi.colors[goal].months[this.selectedMonth] = {}
        if(this.kpi.colors[goal].months[this.selectedMonth].plan) return 'border:2px solid #E57373;background-color:#E57373;color:white' 
      } 
      if(key == 'months_fact') {
        if(this.kpi.colors[goal].months[this.selectedMonth].fact) return 'border:2px solid #E57373;background-color:#E57373;color:white' 
      }
      if(key == 'comment') {
        if(this.kpi.colors[goal].comment) return 'border:2px solid #E57373;background-color:#E57373;color:white' 
      }
      if(key == 'report_comment') {
        if(this.kpi.colors[goal].report_comment) return 'border:2px solid #E57373;background-color:#E57373;color:white' 
      }
    },
    getColors(){
      if(this.kpi.user_id == this.user._id) return;
      this.kpi.colors = [];
      this.kpi.goals.map((item, index) => {
        this.kpi.colors.push({})
        if(!this.kpi.report_comments) this.kpi.report_comments = []
        if(!this.kpi_inital[index]) this.kpi_inital[index] = {} 
        if(this.kpi.comments[index] != this.kpi_inital[index].comment) {
          if(!this.kpi.colors[index]) this.kpi.colors[index] = {} 
          this.kpi.colors[index].comment = 1
        } 
        if(this.kpi.report_comments[index] != this.kpi_inital[index].report_comment) this.kpi.colors[index].report_comment = 1 
        if(item.kpi != this.kpi_inital[index].kpi) this.kpi.colors[index].kpi = 1 
        if(item.name != this.kpi_inital[index].name) this.kpi.colors[index].name = 1 
        if(item.weight != this.kpi_inital[index].weight) this.kpi.colors[index].weight = 1
        if(item.units != this.kpi_inital[index].units) this.kpi.colors[index].units = 1
        this.kpi.colors[index].months = []
        item.months.map((j, n) => {
          this.kpi.colors[index].months.push({});
          if(!this.kpi_inital[index].months) this.kpi_inital[index].months = []
          if(!this.kpi_inital[index].months[n]) this.kpi_inital[index].months[n] = {}
          if(this.kpi.colors[index].months[n]) this.kpi.colors[index].months[n] = {}
          if(j.plan != this.kpi_inital[index].months[n].plan) this.kpi.colors[index].months[n].plan = 1
          if(j.fact != this.kpi_inital[index].months[n].fact) this.kpi.colors[index].months[n].fact = 1
        })
      })
    },
    sumFactValues(index){
      let sum = 0;
      for(var i=0;i<12;i++){
        sum += Number(this.kpi.goals[index].months[i].fact);
      }
      return sum.toFixed(2);
    },
    sumPlanValues(index){
        let sum = 0;
        for(var i=0;i<12;i++){
          sum += Number(this.kpi.goals[index].months[i].plan);
        }
         return sum.toFixed(2);
        },
    addGoal(){
      if(this.kpi.colors){
        this.kpi.colors.push({months:[]})
        this.kpi_inital.push({
          months: [],
          comment: '',
          report_comment: ''
        })
        for(let i=0;i<12;i++) {
          this.kpi_inital[this.kpi_inital.length-1].months[i] = {}
          this.kpi.colors[this.kpi.colors.length-1].months[i] = {}
        }
      } 
      
      this.kpi.goals.push(goal_model());
    },
    deleteGoal(index){
      this.kpi.goals.splice(this.onDelete, 1);
      this.kpi.comments.splice(this.onDelete, 1);
      this.kpi.report_comments.splice(this.onDelete, 1);
      this.kpi.colors.splice(this.onDelete, 1);
    },
    async editKpi(status){
      try {
        let value_sum = 0;
        for(var i=0;i<this.kpi.goals.length;i++){
          value_sum += parseFloat(this.kpi.goals[i].weight);
        }
        if(value_sum > 100){
          this.loadingSave = false;
          alert('Общий вес цели превышает 100%');
        } 
        else
        {
          this.loadingSave = true;
          this.checkFact()
          if(status != 'Сохранено'){
            if(this.kpi.user_id != this.user._id){
              if(status == 'Отправлено на доработку') this.getColors();
              if(status == 'Отправлен отчет на доработку') this.getColors();
            } else {
              if(status == 'Отправлено на рассмотрение') this.getColors();
              if(status == 'Отправлен отчет на расмотрение') this.getColors();
            }
            this.kpi.status = status;
            if(!this.checkPlan()) {
              // alert('План введен некорректно - Проверьте плановые значения')
              this.kpi.status = 'error';
            }
              if(status == 'Отправлено на рассмотрение') this.getColors();
            if(status == 'Отчет утвержден') this.kpi.fact_approvements[this.todayMonth] = 1;
          }
          if(!this.checkPlan()) {
              // alert('План введен некорректно - Проверьте плановые значения')
              this.loadingSave = false;
              return;
            }
          this.kpi.year = this.current_year
          this.kpi.period = this.period
          this.kpi.total = this.totals.goal_mark;
          let res = await this.axios.post(this.$url+'/edit/kpi/'+this.kpi._id,{...this.kpi},this.token);
          this.loadingSave = false;
        }
      } catch (err){
        console.error(err);
        alert ('Произошла ошибка, попробуйте заново');
      }
    },
    autosaving(){
      this.editKpi('Сохранено', this.kpi);
    },
    KeyPress(e) {
      var evtobj = window.event? event : e
      if (evtobj.keyCode == 83 && evtobj.ctrlKey) {
        e.preventDefault()
        this.editKpi('Сохранено', this.kpi)
      }
    },
    checkPlan() {
      let res = true;
      this.kpi.goals.map(item => {
        this.monthLabel.map(month => {
          let m = item.months[month.value];
          if(isNaN(Number(m.plan)) || parseFloat(m.plan) == 0 || m.plan == '' || !m.plan) {
            res = false;
            m.plan=1;
          }
        })
      })
      return res;
    },
    checkFact(){
      let res = true;
      this.kpi.goals.map(item => {
        this.monthLabel.map(month => {
          let m = item.months[month.value];
          if(isNaN(Number(m.fact)) || parseFloat(m.fact) == 0 || m.fact == '' || !m.fact) {
            res = false;
            m.fact=0;
          }
        })
      })
      return res;
    },
  },
  mounted(){
    setTimeout(() => {
      var tb = this.$refs.tb.offsetTop;
      var hd = this.$refs.theader.cloneNode(true);
      var offset2 = window.scrollY;
      this.$refs.theader.style.minWidth = '500px';
      if (offset2 >= tb+80) {
          hd.childNodes[0].childNodes[9].appendChild(this.$refs.theader.childNodes[0].childNodes[9].childNodes[0]);
      }
        hd.childNodes[0].childNodes[9].removeChild(hd.childNodes[0].childNodes[9].childNodes[0]);
      this.$refs.theader.childNodes[0].childNodes.forEach((item, index) => {
        hd.childNodes[0].childNodes[index].style.width = item.offsetWidth+'px'
      })
      this.$refs.theader.childNodes[1].childNodes.forEach((item, index) => {
        hd.childNodes[1].childNodes[index].style.width = item.offsetWidth+2+'px'
      })
      var fd   = this.$refs.fixedheader.appendChild(hd);
      var refs = this.$refs.theader;
      var tref = this.$refs.fixedheader
      window.addEventListener('scroll', function(){
        var offset = window.scrollY;
        if (offset >= tb+80) {
          fd.style.display ='block';
          tref.style.display = 'block';
          let ch = refs.childNodes[0].childNodes[9].childNodes[0] 
          if(ch) hd.childNodes[0].childNodes[9].appendChild(ch);
        }
        else if (offset < tb) {
          fd.style.display = 'none';
          tref.style.display = 'none';
          let ch = hd.childNodes[0].childNodes[9].childNodes[0]
          if(ch) refs.childNodes[0].childNodes[9].appendChild(ch);
        }
      });
    }, 2000)
  },
  destroyed(){
    window.removeEventListener('scroll', this.scroll);
  },
  created() {
    this.user = JSON.parse(localStorage.getItem('kpi-jwt-user'))
    let el = this
    setTimeout(function() {
      el.saveCounter = 0
      }, 1000);
    this.selectedPeriod.year = new Date().getFullYear()
    let m = new Date().getMonth()
    let p = 1;
    if(m > 5) p = 2
    this.selectedPeriod.period = p
  },
}
</script>
<style scoped>
.abstract-table{
  height: 50px;
  position: fixed; 
  top: 0px; 
  display: none;
}
table {
  position: relative;
  border-collapse: collapse; 
}
.save-bt{
  float: right;
  position: relative;
}
 .container {
  width: 100%;
  margin: 50px auto;
}
textarea {
    padding: 2px;
    width: 100%!important;
    border: 0 solid rgb(245, 238, 238);
}
input [type="number"] {
    padding: 2px;
    max-width: 50px;
    border: 1px solid rgb(255, 255, 255)!important;
}
.editable-table [type="text"] {
  background: none;
  border: none;
  display: block;
  width: 100%;
}
.table-striped tbody tr:nth-of-type(odd){
    background-color: white !important;
}
.output {
  white-space: normal;
}
th{
  background-color:#B0BEC5;
}
.table th, .table td{
    padding: 1px !important;
    border: 1px solid #dee2e6 !important
}
@media(max-width: 500px){
  .all-btn{
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: fixed;
      bottom: 0px;
      width: 100%;
  }
  .all-btn > button {
    margin:0px!important;
    border-radius: 0px;
    min-height: 60px;
  }
  .main-box{
    padding-bottom: 100px;
  }
}
.table thead th {
  vertical-align: middle;
}
th {
  vertical-align: middle;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}
</style>