<template>
    <svg class="lds-spinner" width="100%"  height="100%"  xmlns="http://www.w3.org/2000/svg"  xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" style="background: none;"><g transform="rotate(0 50 50)">
  <rect x="48.5" y="11" rx="0" ry="0" width="3" height="18" fill="#d0d0d0">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9s" begin="-0.8250000000000001s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(30 50 50)">
  <rect x="48.5" y="11" rx="0" ry="0" width="3" height="18" fill="#d0d0d0">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9s" begin="-0.75s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(60 50 50)">
  <rect x="48.5" y="11" rx="0" ry="0" width="3" height="18" fill="#d0d0d0">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9s" begin="-0.6749999999999999s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(90 50 50)">
  <rect x="48.5" y="11" rx="0" ry="0" width="3" height="18" fill="#d0d0d0">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9s" begin="-0.6s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(120 50 50)">
  <rect x="48.5" y="11" rx="0" ry="0" width="3" height="18" fill="#d0d0d0">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9s" begin="-0.525s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(150 50 50)">
  <rect x="48.5" y="11" rx="0" ry="0" width="3" height="18" fill="#d0d0d0">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9s" begin="-0.45s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(180 50 50)">
  <rect x="48.5" y="11" rx="0" ry="0" width="3" height="18" fill="#d0d0d0">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9s" begin="-0.375s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(210 50 50)">
  <rect x="48.5" y="11" rx="0" ry="0" width="3" height="18" fill="#d0d0d0">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9s" begin="-0.3s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(240 50 50)">
  <rect x="48.5" y="11" rx="0" ry="0" width="3" height="18" fill="#d0d0d0">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9s" begin="-0.225s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(270 50 50)">
  <rect x="48.5" y="11" rx="0" ry="0" width="3" height="18" fill="#d0d0d0">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9s" begin="-0.15s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(300 50 50)">
  <rect x="48.5" y="11" rx="0" ry="0" width="3" height="18" fill="#d0d0d0">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9s" begin="-0.075s" repeatCount="indefinite"></animate>
  </rect>
</g><g transform="rotate(330 50 50)">
  <rect x="48.5" y="11" rx="0" ry="0" width="3" height="18" fill="#d0d0d0">
    <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="0.9s" begin="0s" repeatCount="indefinite"></animate>
  </rect>
</g></svg>    
</template>
<script>
export default {
    name: 'Loader'
}
</script>