<template>
    <div>
        <div class="all-btn">
        <d-button theme="success"   style="float: right;margin-right:10px;margin-top:-10px;"
        v-if="(kpi.status  == 'error' && kpi.user_id == user._id) || kpi.status != 'Отправлено на рассмотрение' && 
        !report  && user_id == kpi.user_id" 
        @click="$emit('editKpi','Отправлено на рассмотрение')">{{$t('send_approve')}}</d-button>
        <d-button theme="success" style="float: right;margin-right:10px;margin-top:-10px;"
        @click="$emit('editKpi','Отправлено на доработку')" v-if=" user_id !=
         employee._id && kpi.status == 'Отправлено на рассмотрение'">{{$t('send_rework')}}</d-button>
        <d-button theme="success" style="float: right;margin-right:10px;margin-top:-10px;" 
            @click="$emit('editKpi','Подтверждено')" v-if=" user_id != employee._id && kpi.status == 'Отправлено на рассмотрение'">{{$t('approve')}}
        </d-button>
        <d-button theme="success" style="float: right;margin-right:10px;margin-top:-10px;" 
            @click="$emit('editKpi','Отправлен отчет')" v-if="(user_id == employee._id && (kpi.status == 'Подтверждено' 
            || kpi.status == 'Отправлен отчет на доработку')  && !kpi.fact_approvements[todayMonth]) || 
            (report && !factOpen && user_id == employee._id)">{{$t('send_report')}}
        </d-button>
        <d-button theme="success" style="float: right;margin-right:10px;margin-top:-10px;" 
            @click="$emit('editKpi','Отправлен отчет на доработку')" v-if="user_id != employee._id && 
            kpi.status == 'Отправлен отчет'">{{$t('send_report_approve')}}
        </d-button>
        <d-button theme="success" style="float: right;margin-right:10px;margin-top:-10px;" 
            @click="$emit('editKpi','Отчет утвержден')" v-if="user_id != employee._id && kpi.status == 'Отправлен отчет'">{{$t('approve_report')}}
        </d-button>
        </div>
        <d-badge pill theme="danger" style="float:right;margin-right:10px;" v-if="kpi.status == 'error'">{{$t('plan_value_error')}}</d-badge>
        <d-badge pill theme="light" style="float:right;margin-right:10px;" v-else>{{kpi.status}}</d-badge>
        <span v-if="kpi.last_edit_time" style="float:left;padding-left:5px;margin-left:50px;"> 
        <b> {{$t('last_edit')}} </b> {{(new Date(kpi.last_edit_time)).toLocaleDateString('ru-RU', {hour:'numeric',minute:'numeric'}).toString()}} ({{kpi.last_edit_person}})
        </span><br><br>
    </div>
</template>
<script>
export default {
    props: {
        report: {
            required: true
        },
        openKpi: {
            required: true
        },
        kpi: {
            required: true
        },
        factOpen: {
            required: true
        },
        user_id: {
            required: true
        },
        employee: {
            required: true
        },
        user: {
            required: true
        }
    }
}
</script>