<template>
    <d-modal v-if="showModal" @close="$emit('close')">
        <d-modal-header>
            <d-modal-title>{{$t('delete_goal')}}</d-modal-title>
        </d-modal-header>
        <d-modal-body>
            <d-btn theme="danger" @click="$emit('delete', index);$emit('close')">{{$t('yes')}}</d-btn>
            <d-btn @click="$emit('close')" style="margin-left:10px;">{{$t('no')}}</d-btn>
        </d-modal-body>
    </d-modal>
</template>
<script>
export default {
    name: 'delete-verify',
    props: {
        showModal: {
            type: Boolean,
            default: false,
            required: true,
        },
        index: {
            type: [Number, String],
            default: null,
        }
    },
}
</script>