<template>
  <div id="app" style="color:black!important">
      <router-view style="color:black!important" />
  </div>
</template>
<script>
export default {
  data(){
    return {
    }
  },
}
</script>
<style>
.card-body.employee{
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.truncate {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#app{
  font-family:"Montserrat-Light",Helvetica,Arial,sans-serif
}
.hover .router-link-exact-active .router-link-active{
  color: white!important;
}
.sm-ava{
  border-radius: 50%;
}
a{
  color: white!important;
}
.bm-menu{
  
  background-color: rgb(120, 144, 156)!important;
  color: white!important;
}
.router-link-active{
  color:  #607D8B;
  text-decoration: underline
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link{
  background-color: #B0BEC5!important;
  color:white!important
}
.btn.btn-outline-primary.btn-pill {
  background-color: #607D8B;
  color: white;
  border-color: #607D8B;
}
.btn.btn-primary{
  border-color: #607D8B;
  background-color: #CFD8DC!important;
  color: black;
} 
button.btn.btn-success{
  border-color: #607D8B;
  color: black;
  background-color: #CFD8DC!important;
}
.btn.btn-outline-success.btn-pill{
  border-color: #607D8B;
  color: black;
  background-color: #CFD8DC!important;
}
.list-group-item{
  color:black!important

}
a.nav-link{
  color:black!important
}
body{
  color: black!important
}
@media (max-width: 900px) {
    /* .card-header{
      display: none;
    } */
}
  .bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 5px!important;
    top: 10px!important;
    cursor: pointer;
  }
.modal-dialog{
    max-width: 900px!important;
  }
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
#app {
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #161e27;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
